@model ViewModels.AdminViewModel.Makanmehvar.Vm_Makanmehvar;
<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> دریافت مشخصات جغرافیایی براساس کدپستی
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">
        <form action="/Admin/Makanmehvar/ShowGeography" method="POST">
            <input type="text" class="form-control" asp-for="zip_code" placeholder="کدپستی را وارد کنید">
            <button type="submit" class="btn btn-success  mt-4 mb-1" style="width: min-content;">
                استعلام
            </button>
            <a href="~/Admin/Makanmehvar/Index" class="btn btn-success mt-4 mb-1" style="width: min-content;">
                بازگشت
            </a>
        </form>
    </div>
</div>