<section class="container-fluid mt-3">
    <div class="container p-md-5 box p-4">
        <div class="row">
            <div class="col-lg-8 text-justify">
                <h5 class="mb-4 bt-color IRANSansWeb_Medium">آزمون ها</h5>
                <div id="cstm_collapsible" class="custon_shadw rounded bg-light mt-3">
                    <button class="collapsible">آزمون کارشناسان بیمه نیکاتک</button>
                    <div class="content">
                        <div style="text-center row">
                            @* <a target="blank" href="https://nikatak.ir/index.html" class="btn btn-info">لینک آزمون
                                کارشناسان بیمه نیکاتک</a> *@
                            <h6>نتایج آزمون کارشناسان بیمه نیکاتک</h6>
                            <p class=" text-success"> شیوا روستا : 22 درست 8  غلط </p>
                            <p class=" text-danger "> فهیمه خلیفه : 16 درست 14 غلط </p>
                            <p class=" text-danger "> محمد کاظمی : 19 درست 11 غلط </p>
                            <p class=" text-danger "> روژان بهرامی فر : 8  درست 14 غلط </p>
                            <p class=" text-danger "> محمود حقیقت نیا : 15 درست 10 غلط </p>
                            <p class=" text-danger "> ساناز محمدباقر لو : 17 درست 3  غلط </p>
                            <p class=" text-danger "> اسما جلایر سرنقی : 7  درست 8  غلط </p>
                            <p class=" text-danger "> رضا درستی : 11 درست 11 غلط </p>
                            <p class=" text-success"> سینا صادق پور : 20 درست 9  غلط </p>
                            <p class=" text-danger "> بیرامی : 18 درست 12 غلط </p>
                            <p class=" text-danger "> فریده تیموری : 17 درست 3  غلط </p>
                            <p class=" text-danger "> فاطمه شاداب : 12 درست 16 غلط </p>
                            <p class=" text-danger "> آرمان معروفی پناهی : 8  درست 22 غلط </p>
                            <p class=" text-danger "> نگین محمدی : 3  درست 2  غلط </p>
                            <p class=" text-danger "> الهه حبیبی : 16 درست 14 غلط </p>
                            <p class=" text-danger "> بهزاد رحیمی : 12 درست 18 غلط </p>
                            <p class=" text-danger "> لیمو محمدزاده : 7  درست 23 غلط </p>
                            <p class=" text-danger "> صمد ابراهیمی : 15 درست 15 غلط </p>
                            <p class=" text-danger "> فرزاد خاکزاد : 16 درست 13 غلط </p>
                            <p class=" text-danger "> مونا نیکنام : 17 درست 13 غلط </p>
                            <p class=" text-danger "> وحید حاجی زاده : 13 درست 3  غلط </p>
                            <p class=" text-danger "> بابک اله وردیزاده : 10 درست 2  غلط </p>
                            <p class=" text-danger "> المیرا آقانژاد : 17 درست 3  غلط </p>
                            <p class=" text-success"> آیسان مهدیانفر : 21 درست 9  غلط </p>
                            <p class=" text-danger "> شبنم محمد پور : 12 درست 18 غلط </p>
                            <p class=" text-danger "> جعفر کریم پور : 12 درست 18 غلط </p>
                            <p class=" text-danger "> فرهناز عیوضلو : 8  درست 8  غلط </p>
                            <p class=" text-danger "> اکرم کاظمی سیلابی : 15 درست 7  غلط </p>
                            <p class=" text-danger "> شیرین مردانی : 17 درست 11 غلط </p>
                            <p class=" text-danger "> سودابه مغربی : 16 درست 6  غلط </p>
                            <p class=" text-success"> پریسا بهرامی : 21 درست 9  غلط </p>
                            <p class=" text-danger "> طیبه مغربی : 16 درست 6  غلط </p>
                            <p class=" text-danger "> سونیا رسولی : 15 درست 3  غلط </p>
                            <p class=" text-danger "> فاطمه عبادی سوره : 7  درست 23 غلط </p>
                            <p class=" text-success"> زهرا گوهری : 20 درست 10 غلط </p>
                            <p class=" text-danger "> زهرا سهرابی : 10 درست 20 غلط </p>
                            <p class=" text-danger "> رقیه جابری : 4  درست 5  غلط </p>
                            <p class=" text-danger "> خدیجه رضایی : 15 درست 14 غلط </p>
                            <p class=" text-danger "> گلبهار پیروتی : 14 درست 16 غلط </p>
                            <p class=" text-danger "> شبنم محمد پور : 12 درست 18 غلط </p>
                            <p class=" text-danger "> بابک کاظمی : 9  درست 21 غلط </p>
                            <p class=" text-success"> یگانه جعفر پور : 20 درست 10 غلط </p>
                            <p class=" text-danger "> علی تیموری : 16 درست 14 غلط </p>
                            <p class=" text-danger "> محمد کاظمی : 14 درست 16 غلط </p>
                      
                        </div>
                    </div>
                    <button class="collapsible">آزمون کارشناس بانکی نیکاتک</button>
                    <div class="content">
                        <p class="p-2">
                            @* متعاقبا زمان آزمون اعلام خواهد شد. *@
                            @* <a target="blank" href="https://nikatak.ir/index.html" class="btn btn-info">لینک آزمون
                                کارشناسان بانکی نیکاتک
                            </a>  *@
                            <h6>نتایج آزمون کارشناسان بانکی بیمه نیکاتک</h6>
                            <p class="alert alert-danger "> شیوا روستا : 16 درست 14 غلط </p>
                            <p class="alert alert-danger "> وحید حاجی زاده : 10 درست 20 غلط </p>
                            <p class="alert alert-danger "> رعنا فتحی گل : 14 درست 16 غلط </p>
                            <p class="alert alert-danger "> معصومه رحیمی : 7  درست 23 غلط </p>
                            <p class="alert alert-danger "> رضا درستی : 14 درست 16 غلط </p>
                            <p class="alert alert-danger "> رقیه جابری : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> علی تیموری : 18 درست 12 غلط </p>
                            <p class="alert alert-danger "> زهرا سهرابی : 17 درست 13 غلط </p>
                            <p class="alert alert-danger "> دریده هاشمی : 9  درست 21 غلط </p>
                            <p class="alert alert-danger "> رامین حنفی : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> طیبه مغربی : 8  درست 22 غلط </p>
                            <p class="alert alert-danger "> زهرا دودکانلویی میلان : 8  درست 22 غلط </p>
                            <p class="alert alert-danger "> المیرا : 16 درست 14 غلط </p>
                            <p class="alert alert-danger "> ریزان ابراهیم نژاد : 18 درست 12 غلط </p>
                            <p class="alert alert-danger "> رعنا بیرامی : 13 درست 17 غلط </p>
                            <p class="alert alert-success"> فرحناز عیوضلو : 25 درست 5  غلط </p>
                            <p class="alert alert-danger "> میثم قنبر زاده : 11 درست 19 غلط </p>
                            <p class="alert alert-danger "> لیلا دولتی : 18 درست 12 غلط </p>
                            <p class="alert alert-danger "> سودا عبدالهی : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> محراب خلیفه : 19 درست 11 غلط </p>
                            <p class="alert alert-danger "> سینا صادق پور : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> رقیه دادگر : 13 درست 17 غلط </p>
                            <p class="alert alert-danger "> بهزاد رحیمی : 2  درست 28 غلط </p>
                            <p class="alert alert-danger "> زهرا گوهری : 10 درست 20 غلط </p>
                            <p class="alert alert-danger "> توحید علیزاده : 10 درست 20 غلط </p>
                            <p class="alert alert-danger "> اکرم کاظمی : 17 درست 13 غلط </p>
                            <p class="alert alert-danger "> سعادت صالحی : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> فرزاد خاکزاد : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> صمد ابراهیمی : 16 درست 14 غلط </p>
                            <p class="alert alert-danger "> مهران منافی : 10 درست 20 غلط </p>
                            <p class="alert alert-danger "> سودابه مغربی : 8  درست 22 غلط </p>
                            <p class="alert alert-success"> بابک کاظمی : 20 درست 10 غلط </p>
                            <p class="alert alert-danger "> نگین محمدی : 12 درست 18 غلط </p>
                            <p class="alert alert-danger "> شکیلا مکری : 11 درست 19 غلط </p>
                            <p class="alert alert-danger "> یگانه حاجی پور : 19 درست 11 غلط </p>
                            <p class="alert alert-danger "> کاظم غفاری : 12 درست 18 غلط </p>
                            <p class="alert alert-danger "> صفا کنگرلویی : 7  درست 23 غلط </p>
                            <p class="alert alert-danger "> صونا رسولی : 13 درست 17 غلط </p>
                            <p class="alert alert-danger "> مونا نیکنام : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> الهه حبیبی : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> زبیده نیکبان : 8  درست 22 غلط </p>
                            <p class="alert alert-danger "> منصور اویسی : 16 درست 14 غلط </p>
                            <p class="alert alert-danger "> مهدی اطمانی : 5  درست 25 غلط </p>
                            <p class="alert alert-danger "> شبنم محمد پور : 6  درست 24 غلط </p>
                            <p class="alert alert-danger "> اعظم پاشایی : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> آمنه محمد پور : 15 درست 15 غلط </p>
                            <p class="alert alert-danger "> سلمان رشیدی : 11 درست 19 غلط </p>
                            <p class="alert alert-danger "> جعفر کریم پور : 14 درست 16 غلط </p>
                            <p class="alert alert-danger "> ساناز محمد باقر لو : 14 درست 16 غلط </p>
                            <p class="alert alert-danger "> سحر مولوی : 12 درست 18 غلط </p>
                            <p class="alert alert-danger "> وحید مرادی : 14 درست 16 غلط </p>
                            <p class="alert alert-danger "> فاطمه غفار زاده : 5  درست 25 غلط </p>
                            <p class="alert alert-danger "> نسرین موسوی : 7  درست 23 غلط </p>
                            <p class="alert alert-danger "> مریم محمدپور : 7  درست 23 غلط </p>
                            <p class="alert alert-danger "> علی میرزالو : 11 درست 19 غلط </p>
                            <p class="alert alert-danger "> نصیبه جلیل زاده : 11 درست 19 غلط </p>
                            <p class="alert alert-danger "> علیرضا جامعی : 12 درست 18 غلط </p>
                            <p class="alert alert-danger "> لیلا مولوی : 11 درست 19 غلط </p>
                            <p class="alert alert-danger "> فهیمه مولوی : 17 درست 13 غلط </p>
                            <p class="alert alert-danger "> فاطمه عابدی : 5  درست 25 غلط </p>
                            <p class="alert alert-danger "> شیرین مردانی : 10 درست 20 غلط </p>
                            <p class="alert alert-danger "> نصیبه خضرلو : 11 درست 19 غلط </p>
                            <p class="alert alert-danger "> عبدالله سمندی زاده : 10 درست 20 غلط </p>
                            <p class="alert alert-danger "> فاطمه شاداب : 10 درست 20 غلط </p>
                            <p class="alert alert-danger "> اسما جلایر : 14 درست 16 غلط </p>
                        </p>
                    </div>
                    <button class="collapsible">سایر آزمون های نیکاتک </button>
                    <div class="content">
                        <p class="p-2">
                            در حال بروزرسانی
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-4">
                <img src="~/site/Images\Teleco.png" class="float-lg-left d-none d-lg-block img-fluid"
                    style="width:300px;height:auto">
            </div>
        </div>
        <br><br><br>
    </div>
</section>
