<div class="container box p-5 mt-3">
    <h5 class="bt-color">معرفی </h5>
    <div class="row px-md-5">
        <div class="m-2">
            <a href="/expert/index" class="btn btn-success btn-lg">معرفی مدیران </a></button>
        </div>
        <div class="m-2">
            <a href="/Agancy/index" class="btn btn-success btn-lg">معرفی نمایندگان </a></button>
        </div>
    </div>
</div>
