<div class="card shadow" id="myDiv">
    <div class="card-header">
        <h2 class="mb-0"> نمایش مانده حساب </h2>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="row">
                <div class="table-responsive">
                    <div class="form-group justify-content-center text-center">

                        <span class="text-info" id="mp">مانده واقعی حساب :</span> @ViewBag.resultAvailableBalance
                        ریال<br>
                        <hr>
                        <span class="text-info" id="mp1">مانده قابل برداشت :</span> @ViewBag.resultCurrentBalance
                        ریال<br>
                        <hr>
                        <span class="text-info" id="mp2">مانده :</span> @ViewBag.resultEffectiveBalance ریال<br>
                        <hr>
                        <span class="text-info">شماره حساب :</span> @ViewBag.resultNumber <br>
                        <hr>

                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-end ">
                <a onclick="print();" class="btn btn-success mt-1 mb-1" style="width: min-content;"> چاپ
                </a>
                <a href="~/Admin/" class="btn btn-success mt-1 mb-1" style="width: min-content;">
                    بازگشت
                </a>
            </div>
        </div>
    </div>
</div>



<script>

    document.getElementById("mp").innerText = document.getElementById("mp").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    document.getElementById("mp1").innerText = document.getElementById("mp1").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    document.getElementById("mp2").innerText = document.getElementById("mp2").innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

    function print() {
        var printContents = document.getElementById('myDiv').innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>