@model Admin.Models.vm_Gardesh;

<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-1">استعلام مانده حساب</h2>
		@if (ViewBag.Hesabs != null)
				{
					int a = 1;
					foreach (var item in ViewBag.Hesabs)
					{
						<p class="alert alert-light text-dark text-center"> شماره حساب  @a = @item </p>
						a++;
					}
				}
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<form action="/admin/MandeHesab/result" method="POST">
					
					<div class="form-group">
						<h2 class="mb-0"> شماره حساب :</h2>
						<input type="text" class="form-control" placeholder="بصورت 987***999" required
							asp-for="Deposit">
					</div>
					<div>
						<button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> استعلام
						</button>
						<a href="~/Admin/home/index" class="btn btn-success mt-1 mb-1" style="width: min-content;">
							بازگشت
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>