<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">  لیست چک های واگذار شده
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">

        <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره سپرده">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="  تاریخ واگذاری">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="   تاریخ چک">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="  تاریخ وصول ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره برگه چک ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" مبلغ ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" وضعیت چک">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" نوع چک">
        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">انتخاب
        </button>



    </div>
</div>