<div class="friend-list">
    <div class="row">

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Chek/Chekofdeposit" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Chek/Chekofdeposit" class="profile-link"> لیست دسته چک های سپرده</a></h3>
                        <p class="text-sm mb-0">چک </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Chek/Listofchek" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Chek/Listofchek" class="profile-link">لیست چکهای دسته چک</a></h3>
                        <p class="text-sm mb-0">چک </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Chek/Assignmentofchek" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Chek/Assignmentofche" class="profile-link">لیست چک های واگذار شده </a></h3>
                        <p class="text-sm mb-0">چک</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Chek/BlockChek" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Chek/BlockChek" class="profile-link">مسدود کردن برگه چک</a>
                        </h3>
                        <p class="text-sm mb-0">چک </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4  col-sm-12">
    <div class="friend-card card shadow">
        <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
        <div class="card-info">
            <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
                <a href="/admin/Chek/Recordofchek" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                    خدمات</a>
                <h3 class=" mb-0"><a href="/admin/Chek/Recordofchek" class="profile-link">  ثبت درخواست دسته چک </a></h3>
                <p class="text-sm mb-0">چک</p>
            </div>
        </div>
    </div>
</div>

    </div>
</div>


</div>
</div>