<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">  لیست چکهای دسته چک
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">  

        <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره سپرده">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="  شماره دسته چک ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره برگه چک  ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" وضعیت چک">
        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">انتخاب
        </button>



    </div>
</div>