<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0">پرداخت قبوض دسته‌ای با سپرده</h2>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<h2 class="mb-0"> لیست شناسه پرداخت :</h2>
					<input type="text" class="form-control" name="input" placeholder=" لیست شناسه پرداخت ">
				</div>

				<div class="form-group">
					<h2 class="mb-0"> لیست شناسه قبض : </h2>
					<input type="text" class="form-control" name="input" placeholder="لیست شناسه قبض">
				</div>

				<div class="form-group">
					<h2 class="mb-0"> لیست مبلغ قبض : </h2>
					<input type="text" class="form-control" name="input" placeholder="لیست مبلغ قبض">
				</div>
			</div>
			<div class="col-md-6">

				<div class="form-group">
					<h2 class="mb-0"> شماره سپرده : </h2>
					<input type="text" class="form-control" name="input" placeholder="شماره سپرده">
				</div>
			</div>
			<button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> پرداخت قبض
			</button>
			<a href="~/Admin/Gabz_Charge/Estelam" class="btn btn-success mt-1 mb-1" style="width: min-content;">
				بازگشت
			</a>
		</div>
	</div>
</div>