@model ViewModels.AdminViewModel.Gabz.Vm_Gabz;
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0"> استعلام بدهی قبض گاز </h2>
	</div>
	<div class="card-body">
		<div class="row">
			<form action="/Admin/Gabz/Showgasbillinquiry" method="POST">
				<div class="col-md-6">
					<div class="form-group">
						<h2 class="mb-0"> شماره اشتراک :</h2>
						<input type="text" asp-for="Gaz" class="form-control" placeholder=" شماره اشتراک  :  " required
							style="width: 450px;" required>
					</div>
					<button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> استعلام
					</button>
					<a href="~/Admin/Gabz_Charge/Estelam" class="btn btn-success mt-1 mb-1" style="width: min-content;">
						بازگشت
					</a>
				</div>
			</form>
		</div>
	</div>
</div>