<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">استعلام قبض براساس شناسه و نوع قبض</h2>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
                                                        	<h2 class="mb-0"> شناسه قبض :</h2>
														<input type="text" class="form-control" name="input" placeholder=" شناسه قبض "  >
													</div>
<button type="button" class="btn btn-success  mt-1 mb-1" style="width:min-content;"> استعلام قبض 
        </button>



													
												</div>
												 
											</div>
										</div>
									</div>