<div class="card shadow" id="myDiv">
    <div class="card-header">
        <h2 class="mb-0">پرداخت </h2>
    </div>
    <div class="card-body">
        <div class="text-center">
            <p class="alert alert-danger">در انتظار تایید حساب بانکی شما</p>
        </div>
        <div class="text-center">
            <a href="~/Admin/Gabz_Charge/Estelam" class="btn btn-success mt-1 mb-1" style="width: min-content;">
                بازگشت
            </a>
        </div>
    </div>
</div>