<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">پرداخت قبض از طریق کارت</h2>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
                                                        	<h2 class="mb-0"> شناسه پرداخت :</h2>
														<input type="text" class="form-control" name="input" placeholder=" شناسه پرداخت "  >
													</div>

                                                    <div class="form-group">
                                                        <h2 class="mb-0">  شناسه قبض : </h2>
														<input type="text" class="form-control" name="input" placeholder="شناسه قبض"  >
													</div>

                                                    <div class="form-group">
                                                           <h2 class="mb-0">  مبلغ قبض : </h2>
														<input type="text" class="form-control" name="input" placeholder="مبلغ قبض"  >
													</div>


													
													
												</div>
												<div class="col-md-6">
												
															<div class="form-group">
                                                                     <h2 class="mb-0">  شماره کارت : </h2>
														<input type="text" class="form-control" name="input" placeholder="شماره کارت"  >
													</div>

                                                    <div class="form-group">
                                                             <h2 class="mb-0">  نوع رمز کارت : </h2>
														<input type="text" class="form-control" name="input" placeholder=" نوع رمز کارت "  >
													</div>

                                                    <div class="form-group">
                                                             <h2 class="mb-0">  رمز کارت : </h2>
														<input type="text" class="form-control" name="input" placeholder=" رمز کارت "  >
													</div>

                                                    <div class="form-group">
                                                             <h2 class="mb-0">  کد cvv2 کارت : </h2>
														<input type="text" class="form-control" name="input" placeholder=" کد cvv2 کارت "  >
													</div>

                                                    <div class="form-group">
                                                             <h2 class="mb-0">  تاریخ انقضای کارت :  </h2>
														<input type="text" class="form-control" name="input" placeholder=" تاریخ انقضای کارت "  >
													</div>
                </fieldset>




													
												</div>
												 <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> پرداخت قبض 
        </button>
											</div>
										</div>
									</div>