<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0">پرداخت عوارض طرح ترافیک </h2>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
                                                        	<h2 class="mb-0"> شناسه  :</h2>
														<input type="text" class="form-control" name="input" placeholder=" شناسه  "  >
													</div>

                                                    <div class="form-group">
                                                        <h2 class="mb-0">  شماره پلاک : </h2>
														<input type="text" class="form-control" name="input" placeholder=" شماره پلاک "  >
													</div>
                                                    <div class="form-group">
                                                        <h2 class="mb-0">  تاریخ ورود  : </h2>
														<input type="text" class="form-control" name="input" placeholder=" تاریخ ورود  "  >
													</div>


													
													
												</div>
												

                                                    
                </fieldset>




													
												</div>
												 <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> پرداخت عوارض    
        </button>
											</div>
										</div>
									</div>