@model ViewModels.AdminViewModel.Gabz.Vm_Gabz;
<div class="card shadow" id="myDiv">
	<div class="card-header">
		<h2 class="mb-0"> نمایش استعلام بدهی قبض تلفن همراه</h2>
	</div>
	<div class="card-body">
		@* <form method="POST" action="/Admin/Gabz/Pardakht"> *@
		<form method="POST" action="/Admin/Gabz/PardakhtTe">
			<input class="d-none" asp-for="amount">
			<input class="d-none" asp-for="bill_id2">
			<input class="d-none" asp-for="pay_id2">
			<input class="d-none" asp-for="Titel" value="تلفن همراه">
			<div class="row">
				<div class="table-responsive">
					<div class="form-group justify-content-center ">
						<p style="direction: ltr; display: none;" id="Mobile">@ViewBag.result</p>
						@if (ViewBag.Msg != null)
						{
		  <div class="text-center">
		   <p class="alert alert-danger">@ViewBag.Msg</p>
		  </div>
						}
	  <table class="table table-hover">
	   <thead class="bg-primary ">
		<tr>
		 <th> شناسه قبض:</th>
		 <th> شناسه پرداخت: </th>
		 <th> مبلغ :</th>
		</tr>
	   </thead>
	   <tbody class="bg-white">
		<tr>
		 <th id="bill_id"> </th>
		 <th id="pay_id"> </th>
		 <th id="amount2"> </th>
		</tr>
	   </tbody>
	  </table>
	 </div>
	</div>
   </div>
   <div class="d-flex justify-content-end ">
	@* <button type="submit" class="btn btn-success mt-1 mb-1" style="width: min-content;"> پرداخت
	</button> *@
	<a href="https://bill.bpm.bankmellat.ir/bpgwchannel/" class="btn btn-success mt-1 mb-1" style="width: min-content;">
	 پرداخت
	</a>
	<a onclick="print();" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> چاپ
	</a>
	<a href="~/Admin/Gabz_Charge/Estelam" class="btn btn-success mt-1 mb-1" style="width: min-content;">
	 بازگشت
	</a>
   </div>
  </form>
 </div>
</div>

<script>
 debugger
 var str = document.getElementById('Mobile').innerText.replace("{", "").replace("}", "").split('"').join('');
 var res = str.split(",");

 var bill_id = res[1].split(":");
 document.getElementById('bill_id2').value = "" + bill_id[1];
 var bill_id = res[1].split(":");
 document.getElementById('bill_id').innerText = "" + bill_id[1];

 var pay_id = res[2].split(":");
 document.getElementById('pay_id2').value = "" + pay_id[1];
 var pay_id = res[2].split(":");
 document.getElementById('pay_id').innerText = "" + pay_id[1];

 var amount = res[3].split(":");
 document.getElementById('amount').value = "" + amount[1];
 var amount = res[3].split(":");
 document.getElementById('amount2').innerText = "" + amount[1];

</script>

<script>
 function print() {
  var printContents = document.getElementById('myDiv').innerHTML;
  var originalContents = document.body.innerHTML;

  document.body.innerHTML = printContents;

  window.print();

  document.body.innerHTML = originalContents;
 }
</script>