@model ViewModels.AdminViewModel.Gabz.Vm_Gabz;
<div class="card shadow" id="myDiv">
	<div class="card-header">
		<h2 class="mb-0"> نمایش استعلام قبض آب</h2>
	</div>
	<div class="card-body">
		<form method="POST" action="/Admin/Gabz/Pardakht">
			<div class="row">
				<div class="table-responsive">
					<div class="form-group justify-content-center ">
						<p style="direction: ltr; display: none;" id="Water">@ViewBag.result</p>
						@if (ViewBag.Msg != null)
						{
							<div class="text-center">
							 <p class="alert alert-danger">@ViewBag.Msg</p>
							</div>
						}
	 
	  <input asp-for="bill_id2" class="d-none">
	  <input asp-for="pay_id2" class="d-none">
	  <input class="d-none" asp-for="Titel" value="آب">
	  <table class="table table-hover">
	   <thead class="bg-primary">
		<tr>
		 <th> شناسه قبض: </th>
		 <th> شناسه پرداخت: </th>
		 <th>مبلغ : </th>
		 <th> شماره پرونده :</th>
		 <th> نام مالک :</th>
		 <th> استان : </th>
		 <th> تعداد واحد :</th>
		 <th> کل مصرف : </th>
		</tr>
	   </thead>
	   <tbody class="bg-white">
		<tr>

		 <th id="bill_id"> </th>
		 <th id="pay_id"> </th>
		 <th id="amount"> </th>
		 <th id="file_number"> </th>
		 <th id="owner_name"> </th>
		 <th id="province"> </th>
		 <th id="unit_count"> </th>
		 <th id="total_consumption"> </th>
		</tr>
	   </tbody>
	   <thead class="bg-primary">
		<tr>
		 <th> تاریخ قبلی :</th>
		 <th> تاریخ فعلی : </th>
		 <th> شماره قبلی : </th>
		 <th> شماره فعلی :</th>
		 <th> بدهی قبلی : </th>
		 <th> مدت به روز:</th>
		 <th> تاریخ صورت حساب : </th>
		</tr>
	   </thead>
	   <tbody class="bg-white">
		<tr>
		 <th id="previous_date"> </th>
		 <th id="current_date"> </th>
		 <th id="previous_number"> </th>
		 <th id="current_number"> </th>
		 <th id="previous_debt"> </th>
		 <th id="total_day"> </th>
		 <th id="bill_exportation_date"> </th>
		</tr>
	   </tbody>
	  </table>
	 </div>
	</div>
   </div>
   <div class="d-flex justify-content-end ">
	 <button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> پرداخت
	</button>
	@*<a href="~/Admin/Gabz/PardakhtError" class="btn btn-success mt-1 mb-1" style="width: min-content;">
	 پرداخت
	</a>*@
	<a onclick="print();" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> چاپ
	</a>
	<a href="~/Admin/Gabz_Charge/Estelam" class="btn btn-success mt-1 mb-1" style="width: min-content;">
	 بازگشت
	</a>
   </div>
  </form>
 </div>
</div>
 
<script>

 var str = document.getElementById('Water').innerText.replace("{", "").replace(' \" ', '').replace("}", "").split('"').join('');
 var res = str.split(",");

 var bill_id = res[1].split(":");
 document.getElementById('bill_id2').value = "" + bill_id[1];
 var bill_id = res[1].split(":");
 document.getElementById('bill_id').innerText = "" + bill_id[1];


 var pay_id = res[2].split(":");
 document.getElementById('pay_id2').value = "" + pay_id[1];
 var pay_id = res[2].split(":");
 document.getElementById('pay_id').innerText = "" + pay_id[1];

 var amount = res[3].split(":");
 document.getElementById('amount').innerText = "" + amount[1];

 var file_number = res[4].split(":");
 document.getElementById('file_number').innerText = "" + file_number[1];

 var owner_name = res[5].split(":");
 document.getElementById('owner_name').innerText = "" + owner_name[1];

 var province = res[6].split(":");
 document.getElementById('province').innerText = "" + province[1];

 var unit_count = res[7].split(":");
 document.getElementById('unit_count').innerText = "" + unit_count[1];

 var previous_date = res[8].split(":");
 var timestamp = parseInt(previous_date[1]);
 let mydate = new Date(timestamp);
 let mypersiandate = mydate.toLocaleDateString('fa-IR');
 document.getElementById('previous_date').innerText = "" + mypersiandate;

 var current_date = res[9].split(":");
 var timestamp1 = parseInt(current_date[1]);
 let mydate1 = new Date(timestamp1);
 let mypersiandate1 = mydate1.toLocaleDateString('fa-IR');

 document.getElementById('current_date').innerText = "" + mypersiandate1;

 var previous_number = res[10].split(":");
 document.getElementById('previous_number').innerText = "" + previous_number[1];


 var current_number = res[11].split(":");
 document.getElementById('current_number').innerText = "" + current_number[1];

 var total_consumption = res[12].split(":");
 document.getElementById('total_consumption').innerText = "" + total_consumption[1];

 var previous_debt = res[13].split(":");
 document.getElementById('previous_debt').innerText = "" + previous_debt[1];

 var total_day = res[14].split(":");
 document.getElementById('total_day').innerText = " " + total_day[1];

 var bill_exportation_date = res[15].split(":");
 var timestamp2 = parseInt(bill_exportation_date[1]);
 let mydate2 = new Date(timestamp2);
 let mypersiandate2 = mydate2.toLocaleDateString('fa-IR');
 document.getElementById('bill_exportation_date').innerText = " " + mypersiandate2;

</script>

<script>
 function print() {
  var printContents = document.getElementById('myDiv').innerHTML;
  var originalContents = document.body.innerHTML;

  document.body.innerHTML = printContents;

  window.print();

  document.body.innerHTML = originalContents;
 }
</script>