@model ViewModels.AdminViewModel.Gabz.Vm_Gabz;
<div class="card shadow" id="myDiv">
	<div class="card-header">
		<h2 class="mb-0">نمایش استعلام قبض گاز</h2>
	</div>
	<div class="card-body">
		@* <form method="POST" action="/Admin/Gabz/Pardakht"> *@
		<form method="POST" action="/Admin/Gabz/PardakhtTe">
			<input class="d-none" asp-for="amount">
			<input class="d-none" asp-for="bill_id2">
			<input class="d-none" asp-for="pay_id2">
			<input class="d-none" asp-for="Titel" value="گاز">
			<div class="row">
				<div class="table-responsive">
					<div class="form-group justify-content-center">
						<p style="direction: ltr; display: none;" id="Gaz">@ViewBag.result</p>
						@if (ViewBag.Msg != null)
						{
		  <div class="text-center">
		   <p class="alert alert-danger">@ViewBag.Msg</p>
		  </div>
						}
	  <table class="table table-hover">
	   <thead class="bg-primary">
		<tr>
		 <th> شناسه قبض: </th>
		 <th> شناسه پرداخت: </th>
		 <th>مبلغ : </th>
		 <th> تاریخ :</th>
		 <th> نام مالک :</th>
		 <th> نوع مصرف : </th>
		 <th> شماره اشتراک:</th>
		</tr>
	   </thead>
	   <tbody class="bg-white">
		<tr>
		 <th id="bill_id"> </th>
		 <th id="pay_id"> </th>
		 <th id="amount2"> </th>
		 <th id="date"> </th>
		 <th id="owner_name"> </th>
		 <th id="use_type"> </th>
		 <th id="subscription_number"> </th>
		</tr>
	   </tbody>
	   <thead class="bg-primary">
		<tr>
		 <th>کد ادرس:</th>
		 <th> شهر: </th>
		 <th> کد منطقه : </th>
		 <th> شماره سریال کنتور :</th>
		 <th> شماره پرونده: </th>
		 <th> واحد حساب:</th>
		 <th> گروه: </th>
		</tr>
	   </thead>
	   <tbody class="bg-white">
		<tr>
		 <th id="address_code"> </th>
		 <th id="city"> </th>
		 <th id="area_code"> </th>
		 <th id="meter_serial"> </th>
		 <th id="file_number"> </th>
		 <th id="unit_count"> </th>
		 <th id="group"> </th>
		</tr>
	   </tbody>
	   <thead class="bg-primary">
		<tr>
		 <th> ظرفیت:</th>
		 <th> تاریخ قرائت پیشین: </th>
		 <th> تاریخ قرائت فعلی : </th>
		 <th> رقم پیشین شمارگر :</th>
		 <th>رقم فعلی شمارشگر : </th>
		 <th> شماره سری:</th>
		 <th> مصرف استاندارد: </th>
		</tr>
	   </thead>
	   <tbody class="bg-white">
		<tr>
		 <th id="capacity"> </th>
		 <th id="previous_reading_date"> </th>
		 <th id="current_reading_date"> </th>
		 <th id="previous_counter_digit"> </th>
		 <th id="current_counter_digit"> </th>
		 <th id="counter_activity"> </th>
		 <th id="standard_consumption"> </th>
		</tr>
	   </tbody>
	   <thead class="bg-primary">
		<tr>
		 <th> مقدارمصرف گاز:</th>
		 <th> اشتراک ابونمان: </th>
		 <th> مالیات : </th>
		 <th> بیمه:</th>
		 <th> بدهی دیگر : </th>
		 <th> بدهی باقیمانده:</th>
		 <th> فاکتور قبل : </th>
		</tr>
	   </thead>
	   <tbody class="bg-white">
		<tr>
		 <th id="gas_consumption_amount"> </th>
		 <th id="subscription"> </th>
		 <th id="tax"> </th>
		 <th id="insurance"> </th>
		 <th id="other_debt"> </th>
		 <th id="remaining_debt"> </th>
		 <th id="remaining_previous_invoice"> </th>
		</tr>
	   </tbody>
	   <thead class="bg-primary">
		<tr>
		 <th> حساب بدهی:</th>
		 <th> شماره سریال: </th>
		 <th> مانده هزار ریال : </th>
		 <th> کسر هزار ریال :</th>
		 <th> مالیات گاز رسانی : </th>
		</tr>
	   </thead>
	   <tbody class="bg-white">
		<tr>
		 <th id="debt_count"> </th>
		 <th id="serial_number"> </th>
		 <th id="remaining_amount1000_rial"> </th>
		 <th id="deduction_amount1000_rial"> </th>
		 <th id="village_gas_tax"> </th>
		</tr>
	   </tbody>
	  </table>
	 </div>
	</div>
   </div>
   <div class="d-flex justify-content-end ">
				@* <button type="submit" class="btn btn-success mt-1 mb-1" style="width: min-content;"> پرداخت
					</button> *@
	<a href="~/Admin/Gabz_Charge/pardakht" class="btn btn-success mt-1 mb-1" style="width: min-content;">
	 پرداخت
	</a>
	<a onclick="print();" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> چاپ
	</a>
	<a href="~/Admin/Gabz_Charge/Estelam" class="btn btn-success mt-1 mb-1" style="width: min-content;">
	 بازگشت
	</a>
   </div>
  </form>
 </div>
</div>


<script>

 debugger
 var str = document.getElementById('Gaz').innerText.replace("{", "").replace(' \" ', '').replace("}", "").split('"').join('');
 var res = str.split(",");

 var bill_id = res[1].split(":");
 document.getElementById('bill_id2').value = "" + bill_id[1];
 var bill_id = res[1].split(":");
 document.getElementById('bill_id').innerText = "" + bill_id[1];

 var pay_id = res[2].split(":");
 document.getElementById('pay_id2').value = "" + pay_id[1];
 var pay_id = res[2].split(":");
 document.getElementById('pay_id').innerText = "" + pay_id[1];

 var amount = res[3].split(":");
 document.getElementById('amount').value = "" + amount[1];
 var amount = res[3].split(":");
 document.getElementById('amount2').innerText = "" + amount[1];

 var date = res[4].split(":");
 var timestamp = parseInt(date[1]);
 let mydate = new Date(timestamp);
 let mypersiandate = mydate.toLocaleDateString('fa-IR');
 document.getElementById('date').innerText = "" + mypersiandate;

 var owner_name = res[5].split(":");
 document.getElementById('owner_name').innerText = "" + owner_name[1];

 var province = res[6].split(":");
 document.getElementById('use_type').innerText = "" + province[1];

 var province = res[7].split(":");
 document.getElementById('subscription_number').innerText = "" + province[1];

 var province = res[8].split(":");
 document.getElementById('address_code').innerText = "" + province[1];

 var province = res[9].split(":");
 document.getElementById('city').innerText = "" + province[1];

 var province = res[10].split(":");
 document.getElementById('area_code').innerText = "" + province[1];

 var province = res[11].split(":");
 document.getElementById('meter_serial').innerText = "" + province[1];

 var province = res[12].split(":");
 document.getElementById('file_number').innerText = "" + province[1];

 var province = res[13].split(":");
 document.getElementById('unit_count').innerText = "" + province[1];

 var province = res[14].split(":");
 document.getElementById('group').innerText = "" + province[1];

 var province = res[15].split(":");
 document.getElementById('capacity').innerText = "" + province[1];

 var previous_reading_date = res[16].split(":");
 var timestamp2 = parseInt(previous_reading_date[1]);
 let mydate2 = new Date(timestamp2);
 let mypersiandate2 = mydate2.toLocaleDateString('fa-IR');
 document.getElementById('previous_reading_date').innerText = "" + mypersiandate2;

 var current_reading_date = res[17].split(":");
 var timestamp3 = parseInt(current_reading_date[1]);
 let mydate3 = new Date(timestamp3);
 let mypersiandate3 = mydate3.toLocaleDateString('fa-IR');
 document.getElementById('current_reading_date').innerText = "" + mypersiandate3;

 var province = res[18].split(":");
 document.getElementById('previous_counter_digit').innerText = "" + province[1];

 var province = res[19].split(":");
 document.getElementById('current_counter_digit').innerText = "" + province[1];

 var province = res[20].split(":");
 document.getElementById('counter_activity').innerText = "" + province[1];

 var province = res[21].split(":");
 document.getElementById('standard_consumption').innerText = "" + province[1];

 var province = res[22].split(":");
 document.getElementById('gas_consumption_amount').innerText = "" + province[1];

 var province = res[23].split(":");
 document.getElementById('subscription').innerText = "" + province[1];

 var province = res[24].split(":");
 document.getElementById('tax').innerText = "" + province[1];

 var province = res[25].split(":");
 document.getElementById('insurance').innerText = "" + province[1];

 var province = res[26].split(":");
 document.getElementById('other_debt').innerText = "" + province[1];

 var province = res[27].split(":");
 document.getElementById('remaining_debt').innerText = "" + province[1];

 var province = res[28].split(":");
 document.getElementById('remaining_previous_invoice').innerText = "" + province[1];

 var province = res[29].split(":");
 document.getElementById('debt_count').innerText = "" + province[1];

 var province = res[30].split(":");
 document.getElementById('serial_number').innerText = "" + province[1];

 var province = res[31].split(":");
 document.getElementById('remaining_amount1000_rial').innerText = "" + province[1];

 var province = res[32].split(":");
 document.getElementById('deduction_amount1000_rial').innerText = "" + province[1];

 var province = res[33].split(":");
 document.getElementById('village_gas_tax').innerText = "" + province[1];

</script>

<script>
 function print() {
  var printContents = document.getElementById('myDiv').innerHTML;
  var originalContents = document.body.innerHTML;

  document.body.innerHTML = printContents;

  window.print();

  document.body.innerHTML = originalContents;
 }
</script>