@model ViewModels.AdminViewModel.Gabz.Vm_Gabz;
<link href="~/TAG/tagcss.css" rel="stylesheet">
@* <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
*@
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src="~/TAG/tagjs.js"></script>

<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0"> استعلام دسته ای بدهی خلافی خودرو و موتورسیکلت </h2>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<form action="/Admin/Gabz/Showcarsandmotorcyclesinfringementdebtinquiries" method="POST">
					<div class="form-group">
						<h2 class="mb-0"> لیستی از بارکد 8 یا 9 رقمی پشت کارت خوردرو :</h2>
						<input type="text" class="form-control" asp-for="G_V"
							placeholder=" لیستی از بارکد 8 یا 9 رقمی پشت کارت خوردرو " data-role="tagsinput" required>
					</div>
					<button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> استعلام
					</button>
					<a href="~/Admin/Gabz_Charge/Estelam" class="btn btn-success mt-1 mb-1" style="width: min-content;">
						بازگشت
					</a>
				</form>
			</div>
		</div>
	</div>
</div>