@model ViewModels.AdminViewModel.Gabz.Vm_Gabz;
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0"> استعلام بدهی قبض آب </h2>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<form action="/Admin/Gabz/Showwaterbillinquiry" method="POST">
					<div class="form-group">
						<h2 class="mb-0"> شناسه قبض آب :</h2>
						<input type="text" class="form-control" placeholder="شناسه قبض آب  " required asp-for="Water">
					</div>
					<div>
						<button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> استعلام
						</button>
						<a href="~/Admin/Gabz_Charge/Estelam" class="btn btn-success mt-1 mb-1" style="width: min-content;">
							بازگشت
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>