@{
    Layout = "_Layout3" ;
}
<div class="friend-list">
    <div class="row">
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/agah" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">احراز هویت آگاه</a>
                        </h3>
                        <p class="text-sm mb-0">خدمات احراز هویت آگاه</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/ati" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> احراز هویت آتی ساز</a></h3>
                        <p class="text-sm mb-0"> خدمات احراز هویت آتی ساز</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/farabi" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> احراز هویت فارابی</a></h3>
                        <p class="text-sm mb-0"> خدمات احراز هویت  فارابی</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/mofid" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> احراز هویت مفید</a></h3>
                        <p class="text-sm mb-0"> خدمات احراز هویت  مفید</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/sajameagah" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">ثبت نام سجام آگاه</a></h3>
                        <p class="text-sm mb-0"> خدمات ثبت نام سجام اگاه</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/sajameati" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> ثبت نام سجام آتی ساز  </a></h3>
                        <p class="text-sm mb-0"> خدمات ثبت نام سجام آتی ساز</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/sajamefarabi" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> ثبت نام سجام فارابی</a></h3>
                        <p class="text-sm mb-0"> خدمات ثبت نام سجام فارابی</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/sajamemofid" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> ثبت نام سجام مفید</a></h3>
                        <p class="text-sm mb-0"> خدمات ثبت نام سجام مفید</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelameazadsazisaham" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">استعلام آزادسازی سهام عدالت</a></h3>
                        <p class="text-sm mb-0"> خدمات استعلام آزادسازی سهام عدالت</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/foroshesaham" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">ارزش و فروش سهام عدالت  </a></h3>
                        <p class="text-sm mb-0"> خدمات ارزش و فروش سهام عدالت</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/saham" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">مشاهده خلاصه وضعیت سهام عدالت</a></h3>
                        <p class="text-sm mb-0"> خدمات مشاهده خلاصه وضعیت سهام عدالت</p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>