@{
    Layout = "_Layout3" ;
}
<div class="friend-list">
    <div class="row">
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/hamlonagldorehamozeshi" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0">دوره هاي آموزشي راننده</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelamecartehoshmandebari" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> استعلام كارت هوشمند ناوگان باری </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelamecartehoshmandemosaferi" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> استعلام كارت هوشمند ناوگان مسافربری </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelam_cart_hoshmand_ranande" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> استعلام كارت هوشمند راننده </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelam_cart_hoshmand_yadak" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> استعلام كارت هوشمند نیمه یدک </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelam_cart_salamat" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> استعلام كارت سلامت راننده </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelam_doreh_amozeshi" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> استعلام دوره های آموزشی راننده </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelam_mojaveze_rah" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> استعلام مجوز حریم راه </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelam_peymaesh" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> استعلام پیمایش ناوگان </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/sabt_nimeh_yadak" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> ثبت نیمه یدک </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/sabt_vanetbar_navghan" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> ثبت رانندگان و ناوگان وانت بار </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/tamdid_cart_hoshmand" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> راهداری و حمل و نقل </a>
                        </h3>
                        <p class="text-sm mb-0"> تمدید كارت هوشمند راننده </p>
                    </div>
                </div>
            </div>
        </div>
       
        @* <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Gabz_Charge/Charge" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">شارژ</a></h3>
                        <p class="text-sm mb-0">خدمات شارژ</p>
                    </div>
                </div>
            </div>
        </div> *@
        <div class="col-lg-4  col-sm-12 d-none">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Gabz_Charge/Shahrdari" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">شهرداری</a></h3>
                        <p class="text-sm mb-0">خدمات شهرداری</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>