@{
    Layout = "_Layout3" ;
}
@* <div class="row tab-pane">
    <div class="col-md-12">
        <div class="content content-full-width" id="content">
            <!-- begin profile-content -->
            <div class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">
                    <!-- begin #profile-friends tab -->
                    <div class="tab-pane fade in active show" id="profile-friends">
                        <!-- begin row -->
                        <div class="row">
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">یارانه</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/yarane">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">اظهارنامه مالیاتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/malyat">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">سامانه ثنا</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/sana">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">ثبت احوال</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/sabteahval">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">وام ازدواج</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/vam">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse"> بنیاد شهید</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                               <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/shahid">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">نظام وظیفه</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/vazife">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">آموزش و پرورش</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/parvaresh">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">امور بازنشستگان</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/bazneshaste">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                           <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">نسخه الکترونیک</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/electronic">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">برگه تردد بین شهری</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/taradod">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse"> اداره برق</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/bargi">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">اداره آب و فاضلاب </b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a class="btn btn-sm btn-primary  d-sm-block" href="/admin/sazeman/abi">مشاهد
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                        </div><!-- end row -->
                    </div><!-- end #profile-friends tab -->
                </div><!-- end tab-content -->
            </div><!-- end profile-content -->
        </div>
    </div>
</div> *@