
@{
    Layout = "_Layout3" ;
}
<div class="friend-list">
    <div class="row">
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/adamesoepishine" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a>
                        </h3>
                        <p class="text-sm mb-0"> ثبت درخواست گواهی عدم سوءپیشینه </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/agahigazaei" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> سامانه الکترونیک آگهی قضایی </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/barresihoviat" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> بررسی وضعیت احراز هویت غیر حضوری </p>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/darkhasteafv" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> درخواست عفو </p>
                    </div>
                </div>
            </div>
        </div> *@
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/eblageelectronikegazaei" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> سامانه ابلاغ الکترونیک قضایی </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelamedavi" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> استعلام سابقه طرح دعوای مرتبط با چک </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelamekarshenas" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0">  استعلام وضعیت کارشناس </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelamemadarekegazaei" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0">استعلام اصالت مدارک قضایی </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/estelamevokala" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> استعلام وضعیت وکیل </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/faramoshiramz" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> فراموشی رمز </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/hazinedadrasi" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0">  محاسبه هزینه دادرسی </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/pardakhteinterneti" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> پرداخت شماره دریافت وجه از طریق درگاه اینترنتی </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/sabtenamebarkhat" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> ثبت نام برخط شخص حقیقی </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/sabtenamebarkhatehogogi" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0">  ثبت نام شخص حقوقی </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/tagireettelaat" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> تغییر اطلاعات </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/tagireramz" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> تغییر رمز </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/tarefekhadamat" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0"> محاسبه هزینه ارائه ی خدمات الکترونیک قضایی </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sazeman/vahedegazaei" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> سامانه ثنا </a></h3>
                        <p class="text-sm mb-0">  جستجوی واحد قضایی </p>
                    </div>
                </div>
            </div>
        </div>
        
        @* <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Gabz_Charge/Charge" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">شارژ</a></h3>
                        <p class="text-sm mb-0">خدمات شارژ</p>
                    </div>
                </div>
            </div>
        </div> *@
        <div class="col-lg-4  col-sm-12 d-none">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Gabz_Charge/Shahrdari" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">شهرداری</a></h3>
                        <p class="text-sm mb-0">خدمات شهرداری</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>