@model ViewModels.AdminViewModel.sajam.Vm_Showservices;
@{
    Layout = "_Layout4" ;
}

<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0"> لیست خدمات سمت احراز هویت کننده </h2>
	</div>
	<div class="card-body">
		<form action="/Admin/sajam/Showservices">
			<div class="col-md-6">
				@* <div class="form-group">
				<h2 class="mb-0"> شناسه :</h2>
				<input type="text" class="form-control" name="input" placeholder=" نام کاربری ">
				</div> *@
				<p id="tok" style="display:none;">@ViewBag.result</p>
				<input style="display:none;" asp-for="token">
				<div class="row">
					<button type="submit" class="btn btn-success  mt-3 mb-1" style="width: min-content;"> دریافت
						لیست
					</button>
					<a href="~/Admin/Sajam/Index" class="btn btn-success mt-3 mb-1" style="width: min-content;">
						بازگشت
					</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>

	debugger
	var str = document.getElementById('tok').innerText.replace("{", "").replace(' \" ', '').replace("}", "").split('"').join('');
	var res = str.split(",");

	var bill_id = res[1].split(":");
	document.getElementById('token').value = bill_id[1];

</script>