
@{
    Layout = "_Layout4" ;
}
<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> بررسی مشخصات پروفایل سجام </h2>
    </div>
    <div class="card-body col-md-12 text-center">
        <p>@ViewBag.result</p>

        <a href="~/Admin/Sajam/Index" class="btn btn-success mt-1 mb-1" style="width: min-content;">
            بازگشت
        </a>
    </div>
</div>
