
@{
    Layout = "_Layout4" ;
}
<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0"> کدرهگیری سجام سمت احراز هویت کننده </h2>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<h2 class="mb-0"> شماره مرجع :</h2>
					<input type="text" class="form-control" name="input" placeholder=" شماره موبایل  ">
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<h2 class="mb-0"> شناسه سجام :</h2>
						<input type="text" class="form-control" name="input" placeholder=" شناسه سجام   ">
					</div>
					<div class="form-group">
						<h2 class="mb-0">کد پستی:</h2>
						<input type="text" class="form-control" name="input" placeholder=" کد پستی    ">
					</div>
					<button type="button" class="btn btn-success  mt-3 mb-1" style="width: min-content;"> دریافت کد
					</button>
					<a href="~/Admin/Sajam/Index" class="btn btn-success mt-3 mb-1" style="width: min-content;">
						بازگشت
					</a>
				</div>
			</div>
		</div>
	</div>
</div>