@model ViewModels.AdminViewModel.Tavanam.Vm_Tavanam;

<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0"> دریافت فاکتور اعتبار سنجی </h2>
	</div>
	<form action="/Admin/Tavanam/ShowFactor" method="POST">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div>
						<p class="alert alert-danger">
							لازمه دریافت فاکتور ، کسر مبلغ 12000 تومان از کیف پول شما  میباشد .
						</p>
					</div>
					<div class="form-group">
						<h2 class="mb-0">کد ملی را وارد کنید :</h2>
						<input type="text" class="form-control" asp-for="national_code"
							placeholder=" کد ملی را وارد کنید " required>
					</div>
					<div class="form-group">
						<h2 class="mb-0">شماره موبایل را وارد کنید :</h2>
						<input type="text" class="form-control" asp-for="mobile"
							placeholder=" شماره موبایل را وارد کنید  " required>
					</div>
					<button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> استعلام
					</button>
					<a href="~/Admin/Tavanam/Index" class="btn btn-success mt-1 mb-1" style="width: min-content;">
						بازگشت
					</a>
				</div>
			</div>
		</div>
	</form>
</div>