<div class="friend-list">
    <div class="row">

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tavanam/Factor" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> دریافت فاکتور </a></h3>
                        <p class="text-sm mb-0"> دریافت فاکتور اعتبار سنجی</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tavanam/Send" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">ارسال رمز </a>
                        </h3>
                        <p class="text-sm mb-0"> ارسال رمز یکبار مصرف اعتبار سنجی</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tavanam/ReSend" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">ارسال مجدد رمز
                            </a></h3>
                        <p class="text-sm mb-0"> ارسال مجدد رمز یکبارمصرف اعتبار سنجی
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tavanam/Report" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> گزارش </a></h3>
                        <p class="text-sm mb-0"> گزارش اعتبار سنجی</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tavanam/AdvancedReport" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> گزارش پیشرفته   </a></h3>
                        <p class="text-sm mb-0"> گزارش پیشرفته اعتبار سنجی  </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
