@{
    Layout=null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>برق و توانیر</title>
</head>
<body style="background: url(/sazeman/nika.png);background-repeat: repeat; ">
    <h2 class="alert alert-info" style="text-align: center;background-color: rgb(214, 236, 12);">خدمات هوشمند یکپارچه نیکاتک</h2>
    <p style="text-align: center;">لطفا استان مورد نظر خودتان را انتخاب کنید</p>
    <div  style="text-align: center;" >
                <img src="https://www.tavanir.org.ir/images/reg/reg99-withname.jpg" usemap="#ftpMap" border="0" class="img-responsive" title="نقشه شرکتهای برق منطقه ای" width="580" style="pading:150px">
                <map name="ftpMap">

                    <area shape="circle" coords="99,64,19" href="https://egov.azrec.co.ir">
                    <area shape="circle" coords="157,132,16" href="https://egov.zrec.co.ir/"> 
                    <area shape="circle" coords="172,98,15" href="https://egov.gilrec.co.ir">
                    <area shape="circle" coords="213,148,16" href="https://egov.trec.co.ir">
                    <area shape="circle" coords="261,108,20" href="https://egov.mazrec.co.ir/"> 
                    <area shape="circle" coords="307,167,25" href="https://egov.semrec.co.ir/"> 
                    <area shape="circle" coords="411,174,25" href="https://egov.krec.ir/"> 
                    <area shape="circle" coords="97,157,15" href="https://egov.ghrec.co.ir/"> 
                    <area shape="circle" coords="167,177,15" href="https://egov.brec.ir/">
                    <area shape="circle" coords="379,326,24" href="https://egov.krec.co.ir/">
                    <area shape="circle" coords="224,232,22" href="https://egov.erec.co.ir/"> 
                    <area shape="circle" coords="257,344,27" href="https://egov.frec.co.ir/">
                    <area shape="circle" coords="473,369,30" href="https://egov.sbrec.co.ir/">
                    <area shape="circle" coords="350,397,19" href="https://egov.hrec.co.ir/">
                    <area shape="circle" coords="325,254,25" href="https://egov.yrec.co.ir/">
                    <area shape="circle" coords="148,271,25" href="https://egov.kzrec.co.ir/">

                </map>
          </div>
        </div>
</body>
</html>