<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">    جزئیات بدهی عوارض آزادراه
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">  

        <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره مجوز">
         <input type="text" class="form-control" name="example-disabled-input"
            placeholder="رمز">
        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">انجام
        </button>



    </div>
</div>