<div class="friend-list">
    <div class="row">

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Complications/Totaldebt"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Complications/Totaldebt" class="profile-link">بدهی کلی عوارض
                                آزادراه</a></h3>
                        <p class="text-sm mb-0">بدهی کلی </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Complications/Detail" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Complications/Detail" class="profile-link">جزئیات بدهی عوارض
                                آزادراه</a></h3>
                        <p class="text-sm mb-0">جزئیات بدهی </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Complications/Grouppayment"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Complications/Grouppayment" class="profile-link">پرداخت گروهی
                                عوارض آزادراه </a></h3>
                        <p class="text-sm mb-0">پرداخت گروهی</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Complications/Payment" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Complications/Payment" class="profile-link">پرداخت عوارض
                                آزادراه</a>
                        </h3>
                        <p class="text-sm mb-0">پرداخت </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Complications/Inquiry" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Complications/Inquiry" class="profile-link"> استعلام پرداخت
                                عوارض آزادراه </a></h3>
                        <p class="text-sm mb-0">استعلام</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</div>
</div>