@model ViewModels.AdminViewModel.Admin.Vm_info;

<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-0"> ارسال کد فعالسازی سجام سمت احراز هویت کننده </h2>
	</div>
	<form action="/Admin/Avarez/ShowdetailsWay" method="POST">
		<div class="card-body">
			<div class="form-group">
				<h2 class="mb-0">شماره پلاک را وارد کنید :</h2>
			</div>
			<div class="row">
				<input maxlength="2" type="number" style="text-align: center;" asp-for="License3"
					class="form-control col-4" placeholder=" 222" required>
				<select asp-for="License2" class="form-select col-4 text-align: center;"
					aria-label="Default select example" required>
					<option selected></option>
					<option value="01">الف</option>
					<option value="02">ب</option>
					<option value="03">پ</option>
					<option value="04">ت</option>
					<option value="05">ث</option>
					<option value="06">ج</option>
					<option value="07">چ</option>
					<option value="08">ح</option>
					<option value="09">خ</option>
					<option value="10">د</option>
					<option value="11">ذ</option>
					<option value="12">ر</option>
					<option value="13">ز</option>
					<option value="14">ژ</option>
					<option value="15">س</option>
					<option value="16">ش</option>
					<option value="17">ص</option>
					<option value="18">ض</option>
					<option value="19">ط</option>
					<option value="20">ظ</option>
					<option value="21">ع</option>
					<option value="22">غ</option>
					<option value="23">ف</option>
					<option value="24">ق</option>
					<option value="25">ک</option>
					<option value="26">گ</option>
					<option value="27">ل</option>
					<option value="28">م</option>
					<option value="29">ن</option>
					<option value="30">و</option>
					<option value="31">ه</option>
					<option value="32">ی</option>
					<option value="33">معلولین</option>
					<option value="34">تشریفات</option>
					<option value="51">A</option>
					<option value="52">B</option>
					<option value="53">C</option>
					<option value="54">D</option>
					<option value="55">E</option>
					<option value="56">F</option>
					<option value="57">Gح</option>
					<option value="58">H</option>
					<option value="59">I</option>
					<option value="60">J</option>
					<option value="61">K</option>
					<option value="62">L</option>
					<option value="63">M</option>
					<option value="64">N</option>
					<option value="65">O</option>
					<option value="66">P</option>
					<option value="67">Q</option>
					<option value="68">R</option>
					<option value="69">S</option>
					<option value="70">T</option>
					<option value="71">U</option>
					<option value="72">V</option>
					<option value="73">W</option>
					<option value="74">X</option>
					<option value="75">Y</option>
					<option value="76">Z</option>
				</select>
				<input type="number" style="text-align: center;" asp-for="License1" class="form-control col-4"
					placeholder="22" required>
			</div>
			<div class="text-center mt-2">
				<button type="submit" class="btn btn-success  mt-3 mb-1" style="width: min-content;">ارسال
				</button>
				<a href="~/Admin/Avarez/index" class="btn btn-success mt-3 mb-1" style="width: min-content;">
					بازگشت
				</a>
			</div>
	</form>
</div>

<script>
	function send() {
		debugger
		var pleak = document.getElementById('License').value;
		var p1 = pleak.substring(5, 1);
	}

</script>