<div class="friend-list">
    <div class="row">

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/Admin/Avarez/Way" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">   بدهی کلی عوارض آزادراه  </a></h3>
                        <p class="text-sm mb-0">  بدهی کلی عوارض آزادراه  </p>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/Admin/Avarez/detailsWay" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> جزئیات بدهی عوارض آزادراه   </a></h3>
                        <p class="text-sm mb-0"> جزئیات بدهی عوارض آزادراه  </p>
                    </div>
                </div>
            </div>
        </div>
         
          <div class="col-lg-4  col-sm-12 d-none">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">پرداخت گروهی عوارض آزادراه </a></h3>
                        <p class="text-sm mb-0"> پرداخت گروهی عوارض آزادراه   </p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/Admin/Avarez/Pardakht" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> پرداخت عوارض آزادراه   </a></h3>
                        <p class="text-sm mb-0"> پرداخت عوارض آزادراه </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12 d-none">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> استعلام پرداخت عوارض آزادراه </a></h3>
                        <p class="text-sm mb-0">  استعلام پرداخت عوارض آزادراه </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>