<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> خدمات بیمه </h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-center">
                <p class="alert alert-danger"> نمایندگی محترم برای دسترسی به خدمات بیمه ، باید در آزمون اعتبار سنجی
                    کارشناس بیمه شرکت کنید </p>
            </div>
            <div class="offset-6">
                <a href="~/Admin/Bimeh/Index" class="btn btn-success mt-1 mb-1" style="width: min-content;">
                    بازگشت
                </a>
            </div>
        </div>
    </div>
</div>