@{
    Layout = "_Layout4" ;
}
<div style="text-align: center;" class="d-none">
    <p class="alert alert-warning"><a href="" style="color: white;"> لینک آزمون کارشناس بیمه ( تاریخ و ساعت آزمون مجدد متعاقبا اعلام خواهد شد  ) </a></p>
</div>
<div class="friend-list">
    <div class="row">
        <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Bimeh/bsales" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">شخص ثالث </a>
                        </h3>
                        <p class="text-sm mb-0">خدمات بیمه شخص ثالث </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Bimeh/bbadane" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه بدنه</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه بدنه</p>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="https://einsure.kins.ir/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه موتور سیکلت</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه موتور سیکلت </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="https://einsure.kins.ir/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه آتش سوزی</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه آتش سوزی</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="https://einsure.kins.ir/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه زلزله</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه زلزله</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="https://einsure.kins.ir/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه مسافرتی</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه مسافرتی</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="https://einsure.kins.ir/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه مسوولیت پزشکان</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه مسوولیت پزشکان</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="https://einsure.kins.ir/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه عمر</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه عمر</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="https://einsure.kins.ir/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه درمان و کرونا</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه درمان و کرونا</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none col-sm-12 ">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="https://einsure.kins.ir/" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بیمه سازمانی</a></h3>
                        <p class="text-sm mb-0">خدمات بیمه سازمانی</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@