@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="https://einsure.kins.ir/" height="1000px" width="100%" style="border: 0;"></iframe>
</body>
</html>
