@model ViewModels.AdminViewModel.Gabz.Vm_Gabz;
<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> خدمات بیمه مسافرتی</h2>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            <div class="row ">
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="form-group col-12">
                        <h2 class="mb-0"> نوع سفر : </h2>
                        <select type="number" class="form-control mt-1">
                            <option value=""> </option>
                            <option value=" تفریحی"> تفریحی</option>
                            <option value="تجاری">تجاری</option>
                            <option value="ورزشی">ورزشی</option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <h2 class="mb-0"> کشور مقصد : </h2>
                        <input type="text" class="form-control" placeholder="کشور مقصد خود را وارد کنید:">
                    </div>
                </div>
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="form-group col-12">
                        <h2 class="mb-0"> مدت سفر : </h2>
                        <input type="text" class="form-control" placeholder=" مدت سفر را وارد کنید:">
                    </div>
                    <div class="form-group col-12">
                        <h2 class="mb-0"> تعداد مسافرت : </h2>
                        <input type="text" class="form-control" placeholder="تعداد مسافر را وارد کنید:">
                    </div>
                </div>
            </div>

            <div class="">
                <button type="submit" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> استعلام
                </button>
                <a href="~/Admin/Bimeh/index" class="btn btn-success mt-1 mb-1" style="width: min-content;">
                    بازگشت
                </a>
            </div>
        </form>
    </div>
</div>