<div style="text-align: center;">
    <p class="alert alert-warning"><a href="" style="color: white;"> لینک آزمون کارشناس بانکی ( آزمون روز سه دوشنبه 1400/02/21 ساعت 11 از طریق همین لینک برگزار خواهد شد ) </a></p>
</div>
<div class="friend-list">
    <div class="row">
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/sepordeh/Index" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> عمومی</a></h3>
                        <p class="text-sm mb-0">خدمات عمومی</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Enteghal/Azmon" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> کارت</a></h3>
                        <p class="text-sm mb-0">خدمات کارت</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Enteghal/Azmon" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بین بانکی - پایا</a></h3>
                        <p class="text-sm mb-0">خدمات بین بانکی - پایا</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Enteghal/Azmon" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> بین بانکی - ساتنا</a></h3>
                        <p class="text-sm mb-0">خدمات بین بانکی - ساتنا</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Enteghal/Azmon" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> داخلی</a></h3>
                        <p class="text-sm mb-0">خدمات داخلی</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>