<div class="row">
    <div class="" style="padding: 20px;">
        <div class="content-wrapper">
            @* <div class="friend-list row ">
                <aside class="app-sidebar">
                <div class="sidebar-img">
                <a href="#" class="navbar-brand">
                <img alt="..." class="navbar-brand-img main-logo"
                src="~/admin/assets/img/brand/logolight1.png">
                <img alt="..." class="navbar-brand-img logo" src="~/admin/assets/img/brand/logo.png">
                </a>
                <ul class="side-menu">
                <li class="slide">
                <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
                class="side-menu__icon fe fe-edit"></i><span class="side-menu__label"> قبوض
                </span><i class="angle fa fa fa-angle-down"></i></a>
                <ul class="slide-menu">
                <li>
                <a href="/admin/Gabz/Waterbilldebtinquiry" class="slide-item">استعلام بدهی
                قبض
                آب </a>
                <a href="/admin/Gabz/Inquiryofelectricitybilldebt" class="slide-item">استعلام
                بدهی قبض برق </a>
                <a href="/admin/Gabz/Inquiryofgasbilldebt" class="slide-item">استعلام بدهی
                قبض
                گاز </a>
                <a href="/admin/Gabz/Inquiryoftelephonebilldebt" class="slide-item">استعلام
                بدهی
                قبض تلفن ثابت </a>
                <a href="/admin/Gabz/Inquiryofmobilephonebilldebt" class="slide-item">استعلام
                بدهی قبض تلفن همراه </a>
                <a href="/admin/Gabz/Violationofcarsandmotorcycles" class="slide-item">استعلام
                بدهی خلافی خودرو </a>
                <a href="/admin/Avarez/detailsWay" class="slide-item">جزئیات بدهی عوارض
                آزادراه
                </a>
                <a href="/admin/Avarez/Way" class="slide-item"> بدهی کلی عوارض آزادراه </a>
                <a href="/admin/Avarez/Pardakht" class="slide-item"> پرداخت عوارض آزادراه
                </a>
                </li>
                </ul>
                </li>
                <li class="slide">
                <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
                class="side-menu__icon fe fe-edit"></i><span class="side-menu__label">خدمات
                عمومی
                </span><i class="angle fa fa fa-angle-down"></i></a>
                <ul class="slide-menu">
                <li>
                <li>
                <a href="/admin/Omomi/Tatbigh" class="slide-item">سامانه شاهکار</a>
                <a href="/admin/Tavanam/Index" class="slide-item">اعتبار سنجی</a>
                <a href="/admin/Makanmehvar/Index" class="slide-item">خدمات مکان
                محور</a>
                <a href="/Admin/Sepordeh/Rname" class="slide-item">دریافت نام صاحب
                سپرده</a>
                <a href="/Admin/Sepordeh/ReConvert" class="slide-item">تبدیل شماره
                شبا به سپرده </a>
                <a href="/Admin/Sepordeh/Convert" class="slide-item">تبدیل شماره
                سپرده به شبا</a>
                <a href="/admin/Omomi/Shaba" class="slide-item">استعلام شماره
                شبا</a>
                <a href="/Admin/Sepordeh/NationalCode" class="slide-item">انطباق کد
                ملی و حساب/شبا</a>
                </li>
                </ul>
                </li>

                </ul>
                </div>
                </aside>
                <aside>
                <ul class="side-menu">
                <li class="slide">
                <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
                class="side-menu__icon fe fe-edit"></i><span class="side-menu__label"> قبوض
                </span><i class="angle fa fa fa-angle-down"></i></a>
                <ul class="slide-menu">
                <li>
                <a href="/admin/Gabz/Waterbilldebtinquiry" class="slide-item">استعلام بدهی
                قبض
                آب </a>
                <a href="/admin/Gabz/Inquiryofelectricitybilldebt" class="slide-item">استعلام
                بدهی قبض برق </a>
                <a href="/admin/Gabz/Inquiryofgasbilldebt" class="slide-item">استعلام بدهی
                قبض
                گاز </a>
                <a href="/admin/Gabz/Inquiryoftelephonebilldebt" class="slide-item">استعلام
                بدهی
                قبض تلفن ثابت </a>
                <a href="/admin/Gabz/Inquiryofmobilephonebilldebt" class="slide-item">استعلام
                بدهی قبض تلفن همراه </a>
                <a href="/admin/Gabz/Violationofcarsandmotorcycles" class="slide-item">استعلام
                بدهی خلافی خودرو </a>
                <a href="/admin/Avarez/detailsWay" class="slide-item">جزئیات بدهی عوارض
                آزادراه
                </a>
                <a href="/admin/Avarez/Way" class="slide-item"> بدهی کلی عوارض آزادراه </a>
                <a href="/admin/Avarez/Pardakht" class="slide-item"> پرداخت عوارض آزادراه
                </a>
                </li>
                </ul>
                </li>
                <li class="slide">
                <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
                class="side-menu__icon fe fe-edit"></i><span class="side-menu__label">خدمات
                عمومی
                </span><i class="angle fa fa fa-angle-down"></i></a>
                <ul class="slide-menu">
                <li>
                <li>
                <a href="/admin/Omomi/Tatbigh" class="slide-item">سامانه شاهکار</a>
                <a href="/admin/Tavanam/Index" class="slide-item">اعتبار سنجی</a>
                <a href="/admin/Makanmehvar/Index" class="slide-item">خدمات مکان
                محور</a>
                <a href="/Admin/Sepordeh/Rname" class="slide-item">دریافت نام صاحب
                سپرده</a>
                <a href="/Admin/Sepordeh/ReConvert" class="slide-item">تبدیل شماره
                شبا به سپرده </a>
                <a href="/Admin/Sepordeh/Convert" class="slide-item">تبدیل شماره
                سپرده به شبا</a>
                <a href="/admin/Omomi/Shaba" class="slide-item">استعلام شماره
                شبا</a>
                <a href="/Admin/Sepordeh/NationalCode" class="slide-item">انطباق کد
                ملی و حساب/شبا</a>
                </li>
                </ul>
                </li>

                </ul>
                </aside>
                </div>
                <div class="row">
                <div class="col-lg-4 col-sm-12">
                <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                <a href="/admin/sepordeh/Index"
                class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                خدمات</a>
                <h3 class=" mb-0"><a href="#" class="profile-link"> عمومی</a></h3>
                <p class="text-sm mb-0">خدمات عمومی</p>
                </div>
                </div>
                </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                <a href="/admin/Enteghal/Azmon"
                class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                خدمات</a>
                <h3 class=" mb-0"><a href="#" class="profile-link"> کارت</a></h3>
                <p class="text-sm mb-0">خدمات کارت</p>
                </div>
                </div>
                </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                <a href="/admin/Enteghal/Azmon"
                class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                خدمات</a>
                <h3 class=" mb-0"><a href="#" class="profile-link"> بین بانکی - پایا</a></h3>
                <p class="text-sm mb-0">خدمات بین بانکی - پایا</p>
                </div>
                </div>
                </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                <a href="/admin/Enteghal/Azmon"
                class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                خدمات</a>
                <h3 class=" mb-0"><a href="#" class="profile-link"> بین بانکی - ساتنا</a></h3>
                <p class="text-sm mb-0">خدمات بین بانکی - ساتنا</p>
                </div>
                </div>
                </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                <div class="friend-info">
                <a href="/admin/Enteghal/Azmon"
                class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                خدمات</a>
                <h3 class=" mb-0"><a href="#" class="profile-link"> داخلی</a></h3>
                <p class="text-sm mb-0">خدمات داخلی</p>
                </div>
                </div>
                </div>
                </div>
                </div>
                <!-- Side navigation -->
                <div class="">
                <aside>
                <ul class="side-menu">
                <li class="slide">
                <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
                class="side-menu__icon fe fe-edit"></i><span class="side-menu__label"> قبوض
                </span><i class="angle fa fa fa-angle-down"></i></a>
                <ul class="slide-menu">
                <li>
                <a href="/admin/Gabz/Waterbilldebtinquiry" class="slide-item">استعلام بدهی
                قبض
                آب </a>
                <a href="/admin/Gabz/Inquiryofelectricitybilldebt" class="slide-item">استعلام
                بدهی قبض برق </a>
                <a href="/admin/Gabz/Inquiryofgasbilldebt" class="slide-item">استعلام بدهی
                قبض
                گاز </a>
                <a href="/admin/Gabz/Inquiryoftelephonebilldebt" class="slide-item">استعلام
                بدهی
                قبض تلفن ثابت </a>
                <a href="/admin/Gabz/Inquiryofmobilephonebilldebt" class="slide-item">استعلام
                بدهی قبض تلفن همراه </a>
                <a href="/admin/Gabz/Violationofcarsandmotorcycles" class="slide-item">استعلام
                بدهی خلافی خودرو </a>
                <a href="/admin/Avarez/detailsWay" class="slide-item">جزئیات بدهی عوارض
                آزادراه
                </a>
                <a href="/admin/Avarez/Way" class="slide-item"> بدهی کلی عوارض آزادراه </a>
                <a href="/admin/Avarez/Pardakht" class="slide-item"> پرداخت عوارض آزادراه
                </a>
                </li>
                </ul>
                </li>
                <li class="slide">
                <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
                class="side-menu__icon fe fe-edit"></i><span class="side-menu__label">خدمات
                عمومی
                </span><i class="angle fa fa fa-angle-down"></i></a>
                <ul class="slide-menu">
                <li>
                <li>
                <a href="/admin/Omomi/Tatbigh" class="slide-item">سامانه شاهکار</a>
                <a href="/admin/Tavanam/Index" class="slide-item">اعتبار سنجی</a>
                <a href="/admin/Makanmehvar/Index" class="slide-item">خدمات مکان
                محور</a>
                <a href="/Admin/Sepordeh/Rname" class="slide-item">دریافت نام صاحب
                سپرده</a>
                <a href="/Admin/Sepordeh/ReConvert" class="slide-item">تبدیل شماره
                شبا به سپرده </a>
                <a href="/Admin/Sepordeh/Convert" class="slide-item">تبدیل شماره
                سپرده به شبا</a>
                <a href="/admin/Omomi/Shaba" class="slide-item">استعلام شماره
                شبا</a>
                <a href="/Admin/Sepordeh/NationalCode" class="slide-item">انطباق کد
                ملی و حساب/شبا</a>
                </li>
                </ul>
                </li>

                </ul>
                </aside> *
                </div>

                </div>*@
            @* <img src="~/admin/assets/img/90d369307d0a2cac8dd2cea650f4f797.jpg" height="650px" width="100%"
                alt="خدمات هوشمند یکپارچه نیکاتک"> *@
        </div>
    </div>
</div>
