<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">    لغو انتقال وجه مستمر
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">

        <p> در حال بروز رسانی ...</p>
        
        </button>



    </div>
</div>