<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">    انتقال وجه مستمر
 
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">

        <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره مشتری   ">

 <input type="text" class="form-control" name="example-disabled-input"
            placeholder="مبلغ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره سپرده مقصد">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره سپرده مبدا ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="تاریخ شروع  ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="طول دوره  ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="نوع دوره  ">
              <input type="text" class="form-control" name="example-disabled-input"
            placeholder="تعداد انتقال وجه   ">
        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">انتقال
        </button>



    </div>
</div>