<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">    گزارش لیست انتقال وجه های بین بانکی پایا 
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">

        <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره شبای سپرده مبدأ ">

              <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره مشتری ">

              <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره پیگیری انتقال وجه پایا ">

              <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره فاکتور انتقال وجه پایا ">

        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">دریافت
        </button>



    </div>
</div>