<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">     انتقال وجه کارتی  
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">

        <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره کارت">

            <input type="text" class="form-control" name="example-disabled-input"
            placeholder="رمز کارت">

            <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" کد cvv2کارت  ">

                <input type="text" class="form-control" name="example-disabled-input"
            placeholder="تاریخ انقضای کارت">

               <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" مقصد انتقال وجه  ">

              <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" نوع سپرده  ">
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="  مبلغ انتقال وجه  ">


        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">انتقال

        </button>



    </div>
</div>