<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">     گزارش انتقال وجه ساتنا
 
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">

        <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره مشتری ">

                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" وضعیت انتقال وجه ">

                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder="از تاریخ  ">

                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" تا تاریخ ">

                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره سریال ">

                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره پیگیری ارسال شده از برنامه  ">

        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">گزارش
        </button>



    </div>
</div>