<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">     سرویس لیست انتقال وجه‌های مستمر
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">

        <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره مشتری  ">
                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" مبلغ انتقال وجه ">
                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره سپرده مبدأ  ">
                                <input type="text" class="form-control" name="example-disabled-input"
            placeholder="شماره سپرده مقصد  ">
                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder="فیلتر شروع محدوده تاریخ  ">
                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder="فیلتر پایان محدوده تاریخ  ">
                    <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" شماره سریال ">
        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">دریافت
        </button>



    </div>
</div>