<div class="card shadow">
	<div class="card-header">
		<h2 class="mb-2"> انتقال وجه وکالتی</h2>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<h2 class="mb-0">شناسه کسب و کار </h2>
					<input type="text" class="form-control" name="input" placeholder=" شناسه  خود را وارد کنید">
				</div>

				<div class="form-group">
					<h2 class="mb-0">شماره شبای مبدا </h2>
					<input type="text" class="form-control" name="input" placeholder=" شماره شبای خود را وارد کنید">
				</div>
                <div class="form-group">
					<h2 class="mb-0">شماره شبای مقصدا </h2>
					<input type="text" class="form-control" name="input" placeholder=" شماره شبای مقصد را وارد کنید">
				</div>
				<div class="form-group">
					<h2 class="mb-0"> مبلغ انتقالی </h2>
					<input type="text" class="form-control" name="input" placeholder="مبلغ مسدودی را وارد کنید">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<h2 class="mb-0"> شناسه یکتای مسدودی </h2>
					<input type="text" class="form-control" name="input" placeholder="   شناسه یکتا را وارد کنید ">
				</div>
			</div>
		</div>


	</div>
	<button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">
		ذخیره
	</button>
</div>
</div>