<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">     گزارش سپرده های در اختیار وکالتی 
        </h2>
    </div>
    <div class="card-body col-md-6">
		<h2 class="mb-0">    اولین رکورد    </h2>
        <input type="text" class="form-control" name="example-disabled-input"
            placeholder=" رکورد را وارد کنید">
            <br>
	<h2 class="mb-0">شناسه کارگزار  </h2>
             <input type="text" class="form-control" name="example-disabled-input"
            placeholder="   شناسه کارگزار را وارد کنید">

        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">
             ذخیره
        </button>



    </div>
</div>