@*   IR310660000000203305445009 *@
@*   0203305445009   *@
<div class="row tab-pane">
    <div class="col-md-12">
        <div class="content content-full-width" id="content">
            <!-- begin profile-content -->
            <div class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">
                    <!-- begin #profile-friends tab -->
                    <div class="tab-pane fade in active show" id="profile-friends">
                        <!-- begin row -->
                        <div class="row">
                            <!-- end col-6 -->
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">سامانه شاهکار</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/admin/Omomi/Index">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="submit">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 ">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">اعتبار سنجی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/admin/Tavanam/Index">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="submit">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow ">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">خدمات مکان محور</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/admin/Makanmehvar/Index">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="submit">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت لیست سپرده ها</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Rlist ">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت جزییات سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Rdetails ">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت صورت حساب</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/RBills ">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت نام صاحب سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Rname ">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">نرخ سود سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Rate">

                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">تبدیل شماره شبا به سپرده </b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/ReConvert">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">تبدیل شماره سپرده به شبا</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Convert">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">افتتاح سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Openaccount">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">استعلام شماره شبا</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/admin/Omomi/Shaba ">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انطباق کد ملی و حساب/شبا</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/NationalCode">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">مسدودی سپرده وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Blocked">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">رفع مسدودی سپرده وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/EBlocked">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتقال مبلغ مسدودی وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/TransferB">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">سرویس افزایش مبلغ مسدودی وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Afzayesh">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">سرویس گزارش مسدودی های وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Gozaresh">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">ثبت قرارداد مشتری وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Sabtgarardad">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتساب مشتری به کسب و کار</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Emoshtari">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتساب سپرده وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Esepordeh">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">گزارش سپرده های در اختیار وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Gsepordeh">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">فعال سازی سپرده وکالتی در اختیار</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Activation">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتقال وجه وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Evekalati">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">خلاصه صورتحساب روزانه سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Summary">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">فهرست انواع سپرده های قابل افتتاح</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Contents">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتقال وجه تجمیعی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Tajmie">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت صورتحساب های پرونده اعتباری</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Parvandeh">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">فهرست پرونده های اعتباری</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/Etebari">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4 d-none">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">پرداخت صورت حساب پرونده اعتباری</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <a href="/Admin/Sepordeh/PardakhtEtebari">
                                                    <button class="btn btn-sm btn-primary  d-sm-block"
                                                        type="button">مشاهده
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end #profile-friends tab -->
                </div><!-- end tab-content -->
            </div><!-- end profile-content -->
        </div>
    </div>
</div>