@model ViewModels.AdminViewModel.Sepordeh.Vm_Sepordeh;
<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> تبدیل شماره شبا به شماره سپرده
        </h2>
    </div>
    <div class="card-body col-md-12">
        <form action="/Admin/Sepordeh/ShowReConvert" method="GET">
            <h2 class="mb-0"> شماره شبا : </h2>
            <input type="text" class="form-control" asp-for="Shaba" placeholder=" شماره شبا خود را وارد کنید" required>
            <button type="submit" class="btn btn-success  mt-3 mb-1" style="width: min-content;">دریافت
                اطلاعات حساب
            </button>
            <a href="~/Admin/Sepordeh/Index" class="btn btn-success mt-3 mb-1" style="width: min-content;">
                بازگشت
            </a>
        </form>
    </div>
</div>