<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> دریافت اطلاعات نام مشتری</h2>
    </div>
    <div class="card-body col-md-12 ">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h2 class="mb-0"> کد ملی :</h2>
                    <input type="text" class="form-control" name="example-disabled-input"
                        placeholder=" کد ملی را وارد کنید :">
                    <button type="submit" class="btn btn-success  mt-3 mb-1" style="width: min-content;">دریافت
                        اطلاعات حساب
                    </button>
                    <a href="~/Admin/Sepordeh/Index" class="btn btn-success mt-3 mb-1" style="width: min-content;">
                        بازگشت
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>