<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> دریافت نام صاحب سپرده
        </h2>
    </div>
    <div class="card-body col-md-12">
        <form action="/admin/Sepordeh/ShowRname" method="POST">
            <h2 class="mb-0"> شماره سپرده : </h2>
            <input type="text" class="form-control" name="example-disabled-input"
                placeholder=" شماره سپرده را وارد کنید">
            <button type="submit" class="btn btn-success  mt-3 mb-1" style="width: min-content;">دریافت
                اطلاعات حساب
            </button>
            <a href="~/Admin/Sepordeh/Index" class="btn btn-success mt-3 mb-1" style="width: min-content;">
                بازگشت
            </a>
        </form>
    </div>
</div>
