<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> تطبیق کدملی و شماره سپرده
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">
        <p id="Tatbigh">@ViewBag.result</p>
        @if (ViewBag.Msg != null)
        {
            <div class="text-center">
                <p class="alert alert-danger">@ViewBag.Msg</p>
            </div>
        }
        <p id="msg1" class="alert alert-success" style="display: none;">شماره شبا متعلق به کد ملی وارد شده است</p>
        <p id="msg2" class="alert alert-danger" style="display: none;">کد ملی متعلق به شماره شبای وارد شده نیست</p>
    </div>
    <div class="offset-6">
        <a href="~/Admin/Sepordeh/Index" class="btn btn-success mt-3 mb-3" style="width: min-content;">
            بازگشت
        </a>
    </div>
</div>

<script>
    debugger
    var str = document.getElementById('Tatbigh').innerText.replace("{", "").replace(' \" ', '').replace("}", "").split('"').join('');
    var res = str.split(",");

    var match = res[1].split(":");
    @* document.getElementById('match').innerText = "" + match[1]; *@

    if (match[1] == "true") {
        document.getElementById('msg1').style.display = "block";
    }
    if (match[1] == "false") {
        document.getElementById('msg2').style.display = "block"
    }
</script>
