<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0"> دریافت جزئیات تسهیلات   </h2>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
                                                        	<h2 class="mb-0">   شماره تسهیلات :</h2>
														<input type="text" class="form-control" name="input" placeholder="  شماره تسهیلات  "  >
													</div>
                                                    <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> دریافت جزئیات  
        </button>

                </fieldset>




													
												</div>
												 
											</div>
										</div>
									</div>