<div class="friend-list">
    <div class="row">

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tashilat/Getfacilitydetails" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> تسهیلات </a></h3>
                        <p class="text-sm mb-0"> دریافت جزئیات تسهیلات </p>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tashilat/Gettheownerofthefacility" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">مشخصات تسهیلات</a></h3>
                        <p class="text-sm mb-0"> دریافت مشخصات صاحب تسهیلات </p>
                    </div>
                </div>
            </div>
        </div>
         
          <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tashilat/Listoffacilities" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link">فهرست تسهیلات</a></h3>
                        <p class="text-sm mb-0"> فهرست تسهیلات </p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tashilat/Paymentoffacilitiesbydeposit" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> پرداخت تسهیلات   </a></h3>
                        <p class="text-sm mb-0">پرداخت تسهیلات با سپرده </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Tashilat/Paymentoffacilitiesbycard" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="#" class="profile-link"> پرداخت تسهیلات </a></h3>
                        <p class="text-sm mb-0"> پرداخت تسهیلات با کارت </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>