<div class="card shadow">
										<div class="card-header">
											<h2 class="mb-0"> فهرست تسهیلات </h2>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
                                                        	<h2 class="mb-0"> نوع تسهیلات  :</h2>
														<input type="text" class="form-control" name="input" placeholder=" نوع تسهیلات  "  >
													</div>

                                                    <div class="form-group">
                                                        <h2 class="mb-0">  کد شعبه  : </h2>
														<input type="text" class="form-control" name="input" placeholder=" کد شعبه "  >
													</div>

                                                    <div class="form-group">
                                                           <h2 class="mb-0">  شماره مشتری  : </h2>
														<input type="text" class="form-control" name="input" placeholder=" شماره مشتری "  >
													</div>


													
													
												</div>
                </fieldset>




													
												</div>
												 <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;"> دریافت فهرست  
        </button>
											</div>
										</div>
									</div>