<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0">گزارش تاییدکنندگان بالقوه کارتابل
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">
        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">'گزارش'
        </button>
    </div>
</div>