<div class="friend-list">
    <div class="row">

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Normaltransfer"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Normaltransfer" class="profile-link">
                                نتقال وجه عادی کارتابلی</a></h3>
                        <p class="text-sm mb-0">انتقال عادی </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Payatransfer"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Payatransfer" class="profile-link">انتقال وجه پایا
                                کارتابلی</a>
                        </h3>
                        <p class="text-sm mb-0">انتقال پایا </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Satnatransfer"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Satnatransfer" class="profile-link">انتقال وجه
                                ساتنا کارتابلی</a></h3>
                        <p class="text-sm mb-0">انتقال ساتنا</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Confirmationreport"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Confirmationreport" class="profile-link">گزارش
                                تاییدکنندگان بالقوه کارتابل</a>
                        </h3>
                        <p class="text-sm mb-0">گزارش </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Add" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Add" class="profile-link"> افزودن تایید کننده/اجرا
                                کننده به کارتابل
                            </a></h3>
                        <p class="text-sm mb-0">افزودن</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Userreport"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Userreport" class="profile-link">گزارش کارتابل کاربر</a>
                        </h3>
                        <p class="text-sm mb-0">گزارش </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Detail"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Detail" class="profile-link">جزئیات کارتابل</a>
                        </h3>
                        <p class="text-sm mb-0">جزئیات </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Confirmrejection"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Confirmrejection" class="profile-link">تایید/رد کارتابل توسط امضا دار</a>
                        </h3>
                        <p class="text-sm mb-0">تایید/رد کارتابل </p>
                    </div>
                </div>
            </div>
        </div>

           <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Run"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Run" class="profile-link">اجرای کارتابل</a>
                        </h3>
                        <p class="text-sm mb-0">اجرا</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Delete"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Delete" class="profile-link">حذف تایید کننده / اجرا کننده از کارتابل</a>
                        </h3>
                        <p class="text-sm mb-0">حذف</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Payagrouptransfer"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Payagrouptransfer" class="profile-link">انتقال وجه پایا گروهی کارتابلی</a>
                        </h3>
                        <p class="text-sm mb-0">انتقال پایا گروهی</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Groupinternaltransfer"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Groupinternaltransfer" class="profile-link">انتقال وجه داخلی گروهی کارتابلی</a>
                        </h3>
                        <p class="text-sm mb-0">انتقال داخلی گروهی</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Cancel"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Cancel" class="profile-link">لغو کارتابل</a>
                        </h3>
                        <p class="text-sm mb-0">لغو</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Folderwork/Edit"
                            class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="/admin/Folderwork/Edit" class="profile-link">ویرایش اطلاعات کارتابل</a>
                        </h3>
                        <p class="text-sm mb-0">ویرایش</p>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


</div>
</div>