<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> انتقال وجه پایا کارتابلی
        </h2>
    </div>
    <div class="card-body col-md-12 text-center">

        <input type="text" class="form-control" name="example-disabled-input" placeholder=" شماره سپرده مبدا  ">
        <input type="text" class="form-control" name="example-disabled-input" placeholder=" شماره آ بن مقصد  ">
        <input type="text" class="form-control" name="example-disabled-input" placeholder=" نام صاحب سپرده مقصد   ">
        <input type="text" class="form-control" name="example-disabled-input" placeholder=" توضیحات  ">
        <input type="text" class="form-control" name="example-disabled-input" placeholder=" مبلغ   ">
        <button type="button" class="btn btn-success  mt-1 mb-1" style="width: min-content;">انتقال
        </button>



    </div>
</div>