@using Microsoft.AspNetCore.Http

<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar ">
	<div class="sidebar-img">
		<a href="#" class="navbar-brand"><img alt="..." class="navbar-brand-img main-logo"
				src="~/admin/assets/img/brand/logolight1.png"> <img alt="..." class="navbar-brand-img logo"
				src="~/admin/assets/img/brand/logo.png"></a>


  <li class="slide">
				<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-home"></i><span class="side-menu__label">خدمات سازمانی </span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					 <li>
						<a  target="blank"   href="/sazeman/barg.html" class=" slide-item"> خدمات اداره برق و توانیر   </a>
					</li>
					<li>
						<a    target="blank"  href="/sazeman/caremeli.html"   class=" slide-item">ثبت نام کارت ملی</a>
					</li>

					<li>
						<a  target="blank"  href="/sazeman/rgcaremeli.html"  class=" slide-item"> پیگیری وضعیت کارت ملی</a>
					</li>

					<li>
						<a  target="blank"   href="/sazeman/ehraz_hoviyat.html" class=" slide-item"> احراز هویت ثبت احوال</a>
					</li>

					<li>
						<a  target="blank"   href="/sazeman/marsolepost.html" class=" slide-item"> رهگیری مرسولات پستی</a>
					</li>

					

					<li>
						<a  target="blank"   href="/sazeman/hogogi.html" class=" slide-item"> سامانه شناسه ملی اشخاص حقوقی کشور</a>
					</li>

					<li>
						<a  target="blank"   href="/sazeman/tax.html" class=" slide-item"> سامانه  ثبت  اظهار نامه مالیاتی</a>
					</li>

					<li>
						<a  target="blank"   href="/sazeman/company.html" class=" slide-item">       سامانه ثبت شرکت های زیر نظر سازمان دارو و غذا  </a>
					</li>

						<li>
						<a  target="blank"   href="/sazeman/company2.html" class=" slide-item">       سامانه ثبـت نام کارخـانه/کارگاه تولیدی مواد غذایی </a>
					</li>


					
                    <li>
						<a  target="blank"   href="/sazeman/salahiyat.html" class=" slide-item">  ثبت درخواست صلاحیت مسئول فنی دارو و غذا </a>
					</li>
					

					
					

					<li>
						<a  target="blank"   href="/sazeman/sabt_tavoni.html" class=" slide-item"> سامانه ثبت تعاونی وزارت کار و رفاه اجتماعی</a>
					</li>
                    <li>
						<a  target="blank"   href="/sazeman/rg_tavoni.html" class=" slide-item"> سامانه درخواست/اعلان عضویت در تعاونی</a>
					</li>
				
					</li>

					<li>
						<a  target="blank"   href="/sazeman/enemad.html" class=" slide-item"> ثبت نام نماد اعتماد الکترونیکی  </a>
					</li>
					

					<li>
						<a  target="blank"   href="/sazeman/water.html" class=" slide-item"> خدمات آب و فاضلاب   </a>
					</li>
                   
				</ul>
			</li>

		<ul class="side-menu">

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-edit"></i><span class="side-menu__label"> قبوض </span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Gabz_Charge/Index" class="slide-item">مشاهده خدمات </a>
					</li>
				</ul>
			</li>


			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-edit"></i><span class="side-menu__label"> خلافی خودرو </span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Gabz_Charge/Index_khalafi" class="slide-item">مشاهده خدمات </a>
					</li>
				</ul>
			</li>



			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">سامانه
						شاهکار</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Omomi/Index" href="chart-flot.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#">

					<i style='font-size:18px' class='side-menu__icon fas'>&#xf508;</i>
					<span class="side-menu__label">اعتبار سنجی</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Tavanam/Index" href="shop.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#">

					<i style='font-size:18px' class='side-menu__icon fas'>&#xf508;</i>
					<span class="side-menu__label">خدمات بیمه </span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Bimeh/Index" href="shop.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>


			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label"> خدمات پستی
					</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Makanmehvar/Index" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">عوارض آزاد راه</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Avarez/index" href="/admin/Avarez/index" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-shopping-cart"></i><span class="side-menu__label">سجام</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Sajam/Index" href="shop.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>
			
			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">خدمات بانکی</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Enteghal/Index" class="slide-item">مشاهده خدمات </a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">اطلاعات حساب</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Hesab/Index" class="slide-item">ثبت اطلاعات </a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-home"></i><span class="side-menu__label">کیف پول</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/Admin/Wallet/index" class=" slide-item" href="index-ldf-2.html">جزئیات</a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-home"></i><span class="side-menu__label"> گزارش عملیات </span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/Admin/Wallet/Tarakonesh" class=" slide-item" href="index-ldf-2.html">جزئیات</a>
					</li>
				</ul>
			</li>


			<li class="slide">
				<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-home"></i><span class="side-menu__label">خدمات سازمانی </span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="" class=" slide-item">در حال بروزرسانی</a>
					</li>

				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-home"></i><span class="side-menu__label">سایر خدمات</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="" class=" slide-item">در حال بروزرسانی</a>
					</li>

				</ul>
			</li>

		</ul>


		@* else
  	{

  	<ul class="side-menu">
  	<li class="slide">
  	<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-home"></i><span class="side-menu__label">داشبور</span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/menu/index" class=" slide-item">خدمات</a>
  	</li>
  	<li>
  	<a href="/admin/home/form" class=" slide-item">ثبت نام</a>
  	</li>
  	<li>
  	<a href="#" class=" slide-item">استعلام هویتی</a>
  	</li>
  	</ul>
  	</li>
  	<li>


  	</ul>
  	</li>
  	<li>
  	<li class="slide">
  	<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-home"></i><span class="side-menu__label">تراکنش ها </span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/Admin/Wallet/Tarakonesh" class=" slide-item" href="index-ldf-2.html">لیست تراکنش ها</a>
  	</li>
  	</ul>
  	</li>




  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-edit"></i><span class="side-menu__label">قبض و شارژ</span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/Gabz_Charge/Index" class="slide-item">مشاهده خدمات </a>
  	</li>
  	</ul>
  	</li>
  	<li class="slide">
  	<a href="" class="side-menu__item" data-toggle="slide"><i class="side-menu__icon fe fe-map"></i><span
  	class="side-menu__label">چک</span><i class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/chek/index" href="maps.html" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>

  	</li>
  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">تسهیلات</span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/Tashilat/Index" href="tables.html" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>
  	</li>
  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">عمومی</span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/Omomi/Index" href="chart-flot.html" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>
  	</li>

  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-user"></i><span class="side-menu__label">عوارض آزاد راه</span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/Avarez/index" href="/admin/Avarez/index" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>
  	</li>

  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-underline"></i><span class="side-menu__label">کارپوشه </span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/folderwork/index" href="accordion.html" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>
  	</li>

  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-user"></i><span class="side-menu__label">عوارض آزاد راه</span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/Admin/Avarez/Index" href="login.html" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>
  	</li>
  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-shopping-cart"></i><span class="side-menu__label">سجام</span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/Sajam/Index" href="shop.html" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>
  	</li>

  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#">
  	<i style='font-size:18px' class='side-menu__icon fas'>&#xf508;</i>
  	<span class="side-menu__label">توانم</span><i
  	class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/Tavanam/Index" href="shop.html" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>
  	</li>

  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-user"></i><span class="side-menu__label">سرویس های مکان
  	محور</span><i class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/Makanmehvar/Index" href="login.html" class="slide-item">مشاهده خدمات</a>
  	</li>
  	</ul>
  	</li>

  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
  	class="side-menu__icon fe fe-user"></i><span class="side-menu__label"> پیام ها
  	</span><i class="angle fa fa fa-angle-down"></i></a>
  	<ul class="slide-menu">
  	<li>
  	<a href="/admin/Ticket/Index" href="login.html" class="slide-item"> مشاهده پیام ها</a>
  	</li>
  	</ul>
  	</li>

  	<li class="slide">
  	<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i class="#"></i><span
  	class="side-menu__label"> در حال بروزرسانی...
  	</a>
  	</li>

  	</ul>
  	} *@
	</div>
</aside>