خدمات سازمانی
خدمات اداره برق و توانی
 ثبت نام کارت ملی
پیگیری وضعیت کارت ملی
احراز هویت ثبت احوال
رهگیری مرسولات پستی
سامانه شناسه ملی اشخاص حقوقی کشور 
سامانه  ثبت
اظهار نامه مالیاتی
سامانه ثبت شرکت های زیر نظر سازمان دارو و غذا  
سامانه ثبـت نام کارخـانه/کارگاه تولیدی مواد غذایی 
ثبت درخواست صلاحیت مسئول فنی دارو و غذا 
سامانه ثبت تعاونی وزارت کار و رفاه اجتماعی
سامانه درخواست/اعلان عضویت در تعاونی
ثبت نام نماد اعتماد الکترونیکی 
خدمات آب و فاضلاب       

<ul class="side-menu">

<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
            class="side-menu__icon fe fe-edit"></i><span class="side-menu__label"> قبوض </span><i
            class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Gabz_Charge/Index" class="slide-item">مشاهده خدمات </a>
        </li>
    </ul>
</li>


<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
            class="side-menu__icon fe fe-edit"></i><span class="side-menu__label"> خلافی خودرو </span><i
            class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Gabz_Charge/Index_khalafi" class="slide-item">مشاهده خدمات </a>
        </li>
    </ul>
</li>



<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
            class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">سامانه
            شاهکار</span><i class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Omomi/Index" href="chart-flot.html" class="slide-item">مشاهده خدمات</a>
        </li>
    </ul>
</li>

<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#">

        <i style='font-size:18px' class='side-menu__icon fas'>&#xf508;</i>
        <span class="side-menu__label">اعتبار سنجی</span><i class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Tavanam/Index" href="shop.html" class="slide-item">مشاهده خدمات</a>
        </li>
    </ul>
</li>

<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#">

        <i style='font-size:18px' class='side-menu__icon fas'>&#xf508;</i>
        <span class="side-menu__label">خدمات بیمه </span><i class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Bimeh/Index" href="shop.html" class="slide-item">مشاهده خدمات</a>
        </li>
    </ul>
</li>


<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
            class="side-menu__icon fe fe-user"></i><span class="side-menu__label"> خدمات پستی
        </span><i class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Makanmehvar/Index" href="login.html" class="slide-item">مشاهده خدمات</a>
        </li>
    </ul>
</li>

<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
            class="side-menu__icon fe fe-user"></i><span class="side-menu__label">عوارض آزاد راه</span><i
            class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Avarez/index" href="/admin/Avarez/index" class="slide-item">مشاهده خدمات</a>
        </li>
    </ul>
</li>

<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
            class="side-menu__icon fe fe-shopping-cart"></i><span class="side-menu__label">سجام</span><i
            class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Sajam/Index" href="shop.html" class="slide-item">مشاهده خدمات</a>
        </li>
    </ul>
</li>

<li class="slide">
    <a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
            class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">خدمات بانکی</span><i
            class="angle fa fa fa-angle-down"></i></a>
    <ul class="slide-menu">
        <li>
            <a href="/admin/Enteghal/Index" class="slide-item">مشاهده خدمات </a>
        </li>
    </ul>
</li>