<div class="card shadow">
    <div class="card-header">
        <h2 class="mb-0"> استعلام شماره شبا
        </h2>
    </div>
    <form action="/Admin/Omomi/ShowShaba" method="GET">
        <div class="card-body col-md-12 text-center">
            <input type="text" class="form-control" placeholder="   شماره شبا را وارد کنید    ">
            <button type="submit" class="btn btn-success  mt-4 mb-1" style="width: min-content;">
                استعلام
            </button>
            <a href="~/Admin/Omomi/Index" class="btn btn-success mt-4 mb-1" style="width: min-content;">
                بازگشت
            </a>
        </div>
    </form>
</div>