<div class="container box p-5 mt-3">
    <h5 class="bt-color">گالری </h5>
    <div class="row px-md-5">
        <div class="m-2">
            <a href="/Gallery/details" class="btn btn-success btn-lg">تصاویر  </a></button>
        </div>
        <div class="m-2">
            <a href="/Teaser/Index" class="btn btn-success btn-lg">فیلم ها  </a></button>
        </div>
    </div>
</div>
